﻿@model ExcellOn.PL.Areas.Admin.Helper.CartHelper.Cart
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Checkout</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="checkout-area ptb-100">
    <div class="container">

        @if (Model.CartItems.Count > 0)
        {
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="billing-details">
                        <h3 class="title">Billing Details</h3>
                        <form id="form-order" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>
                                            Bank <span class="required">*</span>
                                        </label>
                                        <div class="select-box">
                                            <select name="BankName" id="BankName">
                                                <option value="ACB">Asia Commercial Joint Stock Bank</option>
                                                <option value="ABBANK">An Binh Commercial Joint Stock Bank</option>
                                                <option value="BIDV">Joint Stock Commercial Bank for Investment and Development of Vietnam</option>
                                                <option value="DongA Bank">DONG A Commercial Joint Stock Bank</option>
                                                <option value="Vietcombank">Joint Stock Commercial Bank for Foreign Trade of Vietnam</option>
                                                <option value="Agribank">Vietnam Bank for Agriculture and Rural Development</option>
                                                <option value="HDBank">Ho Chi Minh city Development Joint Stock Commercial Bank</option>
                                                <option value="VDB">Vietnam Development Bank</option>
                                                <option value="VPBank">Vietnam Commercial Joint Stock Bank for Private Enterprise</option>
                                                <option value="Techcombank">Vietnam Technological and Commercial Joint Stock Bank</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>AccountNumber</label>
                                        <input type="text"
                                               class="form-control" name="AccountNumber" id="AccountNumber" placeholder="Enter account number">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Release Date <span class="required">*</span>
                                        </label>
                                        <input type="date"
                                               class="form-control not-tick" name="ReleaseDate" id="ReleaseDate">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Expiration Date <span class="required">*</span>
                                        </label>
                                        <input type="date"
                                               class="form-control not-tick" name="ExpirationDate" id="ExpirationDate">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Identity</label>
                                        <input type="text"
                                               class="form-control" id="Identity" name="Identity" placeholder="Enter your citizen ID number">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit"> Pay</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="order-details">
                        <h3 class="title">Your Order</h3>
                        <div class="order-table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Service Name</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td class="product-name">
                                                <a href="@Url.Action("ServiceDetail","Service",new { id= item.Service.Id})">@item.Service.Name</a>
                                            </td>
                                            <td class="product-total">
                                                <span class="subtotal-amount">@String.Format("{0:C}", item.DateQuantity * item.EmployeeQuantity * item.Changes)</span>
                                            </td>
                                        </tr>
                                    }

                                    <tr>
                                        <td class="order-subtotal">
                                            <span>Cart Subtotal</span>
                                        </td>
                                        <td class="order-subtotal-price">
                                            <span class="order-subtotal-amount">@String.Format("{0:C}", Model.TotalPrice)</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="total-price">
                                            <span>Order Total</span>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="subtotal-amount">@String.Format("{0:C}", Model.TotalPrice)</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        }
        else
        {
            <h4>No service selected .<a href="@Url.Action("Index","Service")" style="color:darkorange;">Go back</a> and select service ?</h4>
        }
    </div>
</div>

@section scripts{

    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>

    <script src="~/Content/assets/Ajax/ajax-checkout.js"></script>

    }