﻿@model ExcellOn.PL.Areas.Admin.Helper.CartHelper.Cart
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    var email = HttpContext.Current.Request.Cookies["email"] == null ? "" : HttpContext.Current.Request.Cookies["email"].Value;
}

<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Cart</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Cart</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="cart-area ptb-100">
    @if (Model.CartItems.Count > 0)
    {
        <div class="container">

            <div class="cart-table table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Changes</th>
                            <th scope="col">Date Quantity</th>
                            <th scope="col">Employee Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img src="~/Areas/Admin/Content/Images/@item.Service.Image"
                                             alt="item">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="@Url.Action("ServiceDetail","Service",new { id= item.Service.Id})">@item.Service.Name</a>
                                </td>
                                <td class="product-price">
                                    <span class="unit-amount">@String.Format("{0:C}", @item.Changes)</span>
                                </td>
                                <td class="product-quantity">
                                    <div class="input-counter">
                                        <span class="minus-btn">
                                            <i class='ri-subtract-line'></i>
                                        </span>
                                        <input type="text" value="@item.DateQuantity" id="DateQuantity" min="1" data-serviceId="@item.Service.Id" class="DateQuantity">
                                        <span class="plus-btn">
                                            <i class='ri-add-line'></i>
                                        </span>
                                    </div>
                                </td>
                                <td class="product-quantity">
                                    <div class="input-counter">
                                        <span class="minus-btn">
                                            <i class='ri-subtract-line'></i>
                                        </span>
                                        <input type="text" value="@item.EmployeeQuantity" id="EmployeeQuantity" max="20" data-serviceId="@item.Service.Id" class="EmployeeQuantity">
                                        <span class="plus-btn">
                                            <i class='ri-add-line'></i>
                                        </span>
                                    </div>
                                </td>
                                <td class="product-subtotal" data-serviceId="@item.Service.Id">
                                    <span class="subtotal-amount" data-serviceId="@item.Service.Id"><span>@String.Format("{0:C}", (@item.Changes * @item.DateQuantity * @item.EmployeeQuantity))</span></span>
                                    <a href="@Url.Action("DeletCartItem","Order",new { ServiceId = item.Service.Id })" class="remove btn-remove-cart-item">
                                        <i class='ri-delete-bin-line'></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="cart-totals">
                <h3>Cart Totals</h3>
                <ul>
                    <li>Subtotal <span class="subtotal-price-cart">@String.Format("{0:C}", Model.TotalPrice)</span></li>

                    <li>Total <span class="total-price-cart">@String.Format("{0:C}", Model.TotalPrice)</span></li>
                </ul>
                <a href="@Url.Action("CheckOut","Order",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})" class="default-btn">
                    <i class="ri-arrow-right-line"></i>Proceed to
                    Checkout<span></span>
                </a>
            </div>

        </div>
    }
    else
    {
        <div class="container">
            <h4>No service selected .<a href="@Url.Action("Index","Service")" style="color:darkorange;">Go back</a> and select service ?</h4>
        </div>
    }
</div>

@section scripts{
   
    <script src="~/Content/assets/Ajax/ajax-order.js"></script>
}
