﻿
@model ExcellOn.DAL.User
@{

    ViewBag.Title = "Client Service";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    var email = HttpContext.Current.Request.Cookies["email"] == null ? "" : HttpContext.Current.Request.Cookies["email"].Value;
}
@section css{
    <link href="~/Content/assets/css/profile.css" rel="stylesheet" />
    <link href="~/Content/assets/css/ShoppingList.css" rel="stylesheet" />
    <link href="~/Content/assets/css/data-table.css" rel="stylesheet" />
}
<!-- Button trigger modal -->
<!-- Modal -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>My Service</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","home")">Home</a>
                </li>
                <li>>My Service</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>
<div class="modal fade" id="inforModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Product Details</h5>
                <button type="button" class="closeInfor btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Description</h5>
                    <p id="Des"></p>
                    <h5>Promotion Information</h5>
                    <p id="PromotionInformationShow"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade slideInUp custo-slideInUp modal-entity" id="modal-depart" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;">

                <button type="button" class="close btn btn-outline-danger btn-closeM" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                <div class="add-contact-box">
                    <div class="add-contact-content">
                        <form id="form-validate">
                            <input type="hidden" value="" name="Id" id="Id" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">

                                        <input type="text" id="Name" class="form-control tick" placeholder="Name" name="Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">

                                        <input type="text" id="Unit" class="form-control tick" placeholder="Unit" name="Unit" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">

                                        <input type="text" id="Price" class="form-control tick" placeholder="Price" name="Price" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">
                                        <input type="file" class="form-control tick" id="PostedFileBase" name="PostedFileBase" accept="Image/*" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-left">
                                        <textarea type="text" name="PromotionInformation" id="PromotionInformation" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-left">
                                        <textarea type="text" id="Description" class="form-control" placeholder="Description" name="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-closeM" data-dismiss="modal">Close</button>
                <button class="btn btn-success btn-save" style="padding:10px 25px;">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="body-profile">
    <div class="container content-profile">
        <div class="row">
            <div class="col-md-3">
                @{

                    var avatar = "/Areas/Admin/Content/Images/" + Model.Avatar;

                    if (String.IsNullOrEmpty(Model.Avatar))
                    {

                        avatar = "https://ui-avatars.com/api/?name=" + Model.Name;
                    }
                }
                <div class="cr">
                    <div class="row header">
                        <div class="col-md-12 title-left">
                            <img src="@avatar" alt="" />
                            <div class="text-name">
                                <div class="name">@Model.Name</div>
                                <a href="@Url.Action("Profiles", "User",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})" class="item">
                                    <div class="item-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </div>
                                    <div>
                                        Edit Profile
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row form-menu">
                        <div class="col-md-12">
                            <a href="@Url.Action("Profiles", "User",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>My Profile</span>
                                </div>
                            </a>
                            <a href="@Url.Action("ShoppingList", "Order",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        Shopping list
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index", "ProductClient",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-check" viewBox="0 0 16 16">
                                        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                                        <path d="M15.854 10.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.707 0l-1.5-1.5a.5.5 0 0 1 .707-.708l1.146 1.147 2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        My Product
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index", "ClientService",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        My Service
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Logout", "User")" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        Logout
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 content-profile-right">
                <div class="pr">
                    <div class="row header">
                        <div class="col-md-12 title-header">
                            <div class="tab">
                                <a class="tablinks" onclick="openCity(event, 'Using')" id="defaultOpen">Using</a>
                                <a class="tablinks" onclick="openCity(event, 'Expired')">Expired</a>
                            </div>
                        </div>
                    </div>
                    <div class="row form-infor">
                        <div id="Using" class="tabcontent">
                            <table class="table table-hover mt-10" style="text-align:center;" id="tbl-using" border="1">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Service Name</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Employee</th>
                                        <th scope="col">Expiration date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="listProduct">
                                    @{var count1 = 0; }
                                    @foreach (var item in ViewBag.listService)
                                    {

                                        if (!item.IsExpired)
                                        {
                                            count1++;
                                            <tr class="row-number">
                                                <th scope="row">@count1</th>
                                                <td>@item.Service.Name</td>

                                                <td><img width="100" height="100" src="/Areas/Admin/Content/Images/@item.Service.Image" /></td>
                                                <td>@item.NumberEmployees</td>
                                                <td>@String.Format("{0:yyyy/MM/dd}", item.StartDate) to @String.Format("{0:yyyy/MM/dd}", item.EndDate)</td>
                                                <td style="">
                                                    <button class="btn btn-outline-success review" data-id="@item.Service.Id">
                                                        review
                                                    </button>

                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>

                        <div id="Expired" class="tabcontent">
                            <table class="table table-hover mt-10" style="text-align:center;" id="tbl-expired" border="1">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Service Name</th>
                                        <th scope="col">Image</th>
                                       
                                        <th scope="col">Expiration date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var count = 0; }
                                    @foreach (var item in ViewBag.listService)
                                    {

                                        if (item.IsExpired)
                                        {
                                            count++;
                                            <tr class="row-number">
                                                <th scope="row">@count</th>
                                                <td>@item.Service.Name</td>

                                                <td><img width="100" height="100" src="/Areas/Admin/Content/Images/@item.Service.Image" /></td>
                                              
                                                <td>@String.Format("{0:yyyy/MM/dd}", item.StartDate) to @String.Format("{0:yyyy/MM/dd}", item.EndDate)</td>
                                                <td style="">
                                                 
                                                    <button class="btn btn-outline-danger btn-repurchase" data-id="@item.Id">
                                                        Repurchase
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="products-details-tabs">
                    <div class="tab-content">
                        <div class="tab-pane fade active show ">
                            <div class="review-form-wrapper">
                                <h3>Add a review</h3>
                                <form id="form-validate">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="rating">
                                                <input type="radio" id="star5" name="rate" value="5" class="rate rate5" /><label for="star5"></label>
                                                <input type="radio" id="star4" name="rate" value="4" class="rate rate4" /><label for="star4"></label>
                                                <input type="radio" id="star3" name="rate" value="3" class="rate rate3" /><label for="star3"></label>
                                                <input type="radio" id="star2" name="rate" value="2" class="rate rate2" /><label for="star2"></label>
                                                <input type="radio" id="star1" name="rate" value="1" class="rate rate1" /><label for="star1"></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <textarea placeholder="Your review" class="form-control" cols="30" rows="6" name="Comment" id="Comment"></textarea>
                                            </div>
                                            <label style="font-size:10px;text-decoration:inherit">You can only edit a review once!</label>
                                            <div class="form-group">
                                                <input type="hidden" name="Status" value="false" id="Status" />
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" name="ServiceId" value="" id="ServiceId" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <a class="default-btn" id="postReview">Submit Now<i class="ri-arrow-right-line"></i><span></span></a>
                                            <a class="default-btn close" style="float:right">Close<i class="ri-arrow-right-line"></i><span></span></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>
    <script src="~/Content/assets/js/data-table.js"></script>
    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

    
<script src="~/Content/assets/Ajax/ajax-clientservice.js"></script>
}

