﻿
.toggle-switch input[type=checkbox] {
    display: none
}

.toggle-switch label {
    cursor: pointer;
}

    .toggle-switch label .toggle-track {
        display: block;
        height: 23px;
        width: 50px;
        background: #eee;
        border-radius: 20px;
        position: relative;
        margin-bottom: 15px;
        border: 1px solid #ccc;
    }

.toggle-switch .toggle-track:before {
    content: '';
    display: inline-block;
    height: 21px;
    width: 23px;
    background: red;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transition: right .2s ease-in;
}

.toggle-switch input[type="checkbox"]:checked + label .toggle-track:before {
    background: green;
    right: 24px;
}
