﻿@model ExcellOn.DAL.User
@{

    ViewBag.Title = "Product Client";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
    var email = HttpContext.Current.Request.Cookies["email"] == null ? "" : HttpContext.Current.Request.Cookies["email"].Value;
}

@section css{
    <link href="~/Content/assets/css/profile.css" rel="stylesheet" />
    <link href="~/Content/assets/css/data-table.css" rel="stylesheet" />
}
<!-- Button trigger modal -->
<!-- Modal -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>My Product</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","home")">Home</a>
                </li>
                <li>>My Product</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>
<div class="modal fade" id="inforModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Product Details</h5>
                <button type="button" class="closeInfor btn-close" data-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h5>Description</h5>
                    <p id="Des"></p>
                    <h5>Promotion Information</h5>
                    <p id="PromotionInformationShow"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade slideInUp custo-slideInUp modal-entity" id="modal-depart" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;">

                <button type="button" class="close btn btn-outline-danger btn-closeM" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                <div class="add-contact-box">
                    <div class="add-contact-content">
                        <form id="form-validate">
                            <input type="hidden" value="" name="Id" id="Id" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">

                                        <input type="text" id="Name" class="form-control tick" placeholder="Name" name="Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">

                                        <input type="text" id="Unit" class="form-control tick" placeholder="Unit" name="Unit" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">

                                        <input type="text" id="Price" class="form-control tick" placeholder="Price" name="Price" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">
                                        <input type="file" class="form-control tick" id="PostedFileBase" name="PostedFileBase" accept="Image/*" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-left">
                                        <textarea type="text" name="PromotionInformation" id="PromotionInformation" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-left">
                                        <textarea type="text" id="Description" class="form-control" placeholder="Description" name="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger btn-closeM" data-dismiss="modal">Close</button>
                <button class="btn btn-outline-success btn-save" >Save</button>
            </div>
        </div>
    </div>
</div>
<div class="body-profile">
    <div class="container content-profile">
        <div class="row">
            <div class="col-md-3">
                @{

                    var avatar = "/Areas/Admin/Content/Images/" + Model.Avatar;

                    if (String.IsNullOrEmpty(Model.Avatar))
                    {

                        avatar = "https://ui-avatars.com/api/?name=" + Model.Name;
                    }
                }
                <div class="cr">
                    <div class="row header">
                        <div class="col-md-12 title-left">
                            <img src="@avatar" alt="" />
                            <div class="text-name">
                                <div class="name">@Model.Name</div>
                                <a href="@Url.Action("Profiles", "User",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})" class="item">
                                    <div class="item-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </div>
                                    <div>
                                        Edit Profile
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row form-menu">
                        <div class="col-md-12">
                            <a href="@Url.Action("Profiles", "User",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>My Profile</span>
                                </div>
                            </a>
                            <a href="@Url.Action("ShoppingList", "Order",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        Shopping list
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index", "ProductClient",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-check" viewBox="0 0 16 16">
                                        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                                        <path d="M15.854 10.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.707 0l-1.5-1.5a.5.5 0 0 1 .707-.708l1.146 1.147 2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        My Product
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index", "ClientService",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        My Service
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Logout", "User")" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        Logout
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 content-profile-right">
                <div class="pr">
                    <div class="row header">
                        <div class="col-md-7 title-header">
                            <h1>My Product</h1>
                            <p>
                                List of products that have used the service
                            </p>
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-2">
                            <div class="">
                                <button class="btn btn-success btn-add">Add New</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-infor">
                        <table class="table table-hover" id="tbl-product" border="1">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col" style="text-align:center;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="listProduct">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>
    <script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/assets/js/data-table.js"></script>
    <script>
       
        var description = CKEDITOR.replace('Description');
        $('.btn-add').click(function () {
            $('#modal-depart').modal("show");
        });
        $('.btn-closeM').click(function () {
            $('#modal-depart').modal("toggle");
        });
        $(document).on('click', '.btn-infor', function () {
            var id = $(this).data('id');
            $.ajax({
                type: "GET",
                url: "/ProductClient/GetOne",
                data: { IdEncrypt: id },
                success: function (res) {
                    $('#Des').html('<p>' + res.data.Description + '</p>')
                    $('#PromotionInformationShow').html('<p>' + res.data.PromotionInformation + '</p>');
                }
            })
            $('#inforModal').modal('show');
        });
        $('.closeInfor').click(function () {
            $('#inforModal').modal("toggle");
        });


        var validator = $("#form-validate").validate({
            rules: {
                Name: "required",
                Price: {
                    required: true,
                    number: true
                },
                PromotionInformation: "required",
                Description: "required",
                PostedFileBase: "required",
            },
            messages: {
                Name: "The Name field is required.",
                PostedFileBase: "The PostedFileBase field is required.",
                PromotionInformation: "The PromotionInformation field is required.",
                Description: "The Description field is required.",
                Price: {
                    required: "The Price field is required.",
                    number: "You must enter a number"
                }
            }
        });
        var productClient = {
            load: function (page, search) {
                $.ajax({
                    type: "GET",
                    url: "/ProductClient/GetAll",
                    data: { page: page, search: search },
                    success: function (res) {

                        let rows = ``;
                        let index = 0;
                        for (let item of res.data) {
                            index++;
                            rows += `<tr class="row-number">
                                                    <th scope="row" data-id="1">${index}</th>
                                                    <td>${item.Name}</td>

                                                    <td><img width="100" height="100" src="/Areas/Admin/Content/Images/${item.Image}" /></td>
                                                    <td>${item.Price}</td>
                                                    <td>${item.Unit}</td>
                                                    <td style="">
                                                        <button class="btn btn-outline-danger btn-delete" data-id="${item.Id}"><i class="ri-chat-delete-line"></i></button>
                                                        <button class="btn btn-outline-warning btn-edit" data-id="${item.Id}"><i class="ri-edit-circle-line"></i></button>
                                                        <button class="btn btn-outline-success btn-infor" data-id="${item.Id}"><i class="ri-file-info-line"></i></button>
                                                        
                                                    </td>
                                                </tr>`
                        };


                        $('#input-search').val(res.search);
                        if (res.totalPage > 1) {

                            pagination.load(res.totalPage, res.page, res.search);
                        } else {
                            $('.pagination').hide();
                        }

                        $("#listProduct").html(rows);
                    }

                }).done(function () {
                    $('#tbl-product').DataTable();
                })
            },
            post: function (obj) {
                $.ajax({
                    type: "POST",
                    url: "/ProductClient/Save",
                    data: obj,
                    processData: false,
                    contentType: false,
                    success: function (res) {

                        validator.showErrors(res.errors);
                        if (!res.errors) {

                            $('.modal-entity').modal('hide');
                            productClient.load();
                            swal({
                                title: res.message,
                                text: "You clicked the!",
                                type: res.type,
                                padding: '2em'
                            })
                        }
                    }
                })
            },
            edit: function (obj) {
                $.ajax({
                    type: "PUT",
                    url: "/ProductClient/Edit",
                    data: obj,
                    processData: false,
                    contentType: false,
                    success: function (res) {

                        validator.showErrors(res.errors);
                        if (!res.errors) {

                            $('.modal-entity').modal('hide');
                            productClient.load();
                            swal({
                                title: res.message,
                                text: "You clicked the!",
                                type: res.type,
                                padding: '2em'
                            })
                        }
                    }
                })
            },
            delete: function (id) {
                $.ajax({
                    type: "DELETE",
                    url: "/ProductClient/Delete",
                    data: { IdEncrypt: id },
                    success: function (res) {
                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        }).then(function (res) {

                            location.reload();
                        })
                       

                    }
                })
            },
            finOne: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/ProductClient/GetOne",
                    data: { IdEncrypt: id },
                    success: function (res) {
                        if (res.data) {
                            modal.setValue(res.data)
                        } else {
                            swal({
                                title: res.message,
                                text: "You clicked the!",
                                type: res.type,
                                padding: '2em'
                            })
                        }
                    }
                })
            },
        }
        var modal = {
            removevalue: function () {
                $('#Id').val('')
                $('#Name').val('')
                $('#Price').val('')
                $('#Description').val('')
                $('#PromotionInformation').val('')
                $('#Unit').val('')
                $('#PostedFileBase').val(null)
                description.setData('');
            },
            setValue: function (obj) {
                $('#Id').val(obj.Id)
                $('#Name').val(obj.Name)
                $('#Price').val(obj.Price)
                $('#PromotionInformation').val(obj.PromotionInformation)
                $('#Unit').val(obj.Unit)
                description.setData(obj.Description);
            }
        }
    </script>
    <script>
        productClient.load();

        $(".btn-save").click(function () {
            //$('.pagination').removeData("twbs-pagination");

            //formdata = formdata.replace("id=&", '');
            let formdata = new FormData();
            formdata.append("Id", $('#Id').val())
            formdata.append("Name", $('#Name').val())
            formdata.append("Price", $('#Price').val())

            formdata.append("Description", description.getData())
            formdata.append("PromotionInformation", $('#PromotionInformation').val())
            formdata.append("Unit", $('#Unit').val())


            //let formdata = $('#form').serialize();
            if ($('#Id').val()) {
                formdata.append("PostedFileBase", $('#PostedFileBase')[0].files[0] || new Blob())
                productClient.edit(formdata);
            } else {
                formdata.append("PostedFileBase", $('#PostedFileBase')[0].files[0])
                formdata.delete("Id")
                productClient.post(formdata);
            }


        });
        $(document).on('click', '.btn-edit', function () {

            let id = $(this).data("id");

            productClient.finOne(id);
            $('.modal-entity').modal("show");
        });
        $(document).on('click', '.btn-delete', function () {

            let id = $(this).data("id");
            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                padding: '2em'
            }).then(function (result) {
                if (result.value) {
                    productClient.delete(id);
                    $('.pagination').removeData("twbs-pagination");

                }
            })

        });
    </script>
}