﻿@model ExcellOn.DAL.ContactInformation
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}


<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Contact</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="contact-area ptb-100">
    <div class="container">
        <div class="contact-form">
            <h3>Get in Touch</h3>
            <form id="contactForm" method="post">
                <div class="row">
                    <input type="hidden" name="Check" value="0" />
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="email" name="Email" id="Email"
                                   class="form-control" required
                                   data-error="Please enter your email"
                                   placeholder="Email*">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="Name" id="Name"
                                   class="form-control" required
                                   data-error="Please enter your name"
                                   placeholder="Name*">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="Phone"
                                   id="Phone" required
                                   data-error="Please enter your phone number"
                                   class="form-control"
                                   placeholder="Phone">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="Subject"
                                   id="Subject" class="form-control"
                                   required data-error="Please enter your
                                        subject" placeholder="Subject">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea name="Content"
                                      class="form-control" id="Content"
                                      cols="30" rows="5" required
                                      data-error="Write your message"
                                      placeholder="Message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn" id="btn_submit">
                            Send
                            Message <i class="ri-arrow-right-line"></i><span></span>
                        </button>
                        <div id="msgSubmit" class="h3 text-center
                                    hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="contact-info-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="contact-address">
                    <h3>Contact Address:</h3>
                    <p>
                        Excell-on Consulting Services (ECS) helps organizations develop innovative business and commerce strategies and solutions
                    </p>
                    <ul class="address-info">
                        <li>
                            <i class="ri-customer-service-line"></i>
                            <a href="tel:@Model.Phone">@Model.Phone</a>
                        </li>
                        <li>
                            <i class="ri-global-line"></i>
                            <a href="javascript:void(0);">

                            </a>@Model.Email
                        </li>
                        <li>
                            <i class="ri-map-pin-line"></i>
                            @Model.Address
                        </li>
                    </ul>
                    <ul class="address-social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-facebook-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-messenger-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var contact = {
            post: function (obj) {
                $.ajax({
                    type: "POST",
                    url: "/Contact/Add",
                    data: obj,
                    success: function (res) {
                        if (!res.errors) {
                            swal({
                                title: res.message,
                                text: "You clicked the!",
                                type: res.type,
                                padding: '2em'
                            })
                        }
                        $('#Email').val('');
                        $('#Name').val('');
                        $('#Phone').val('');
                        $('#Content').val('');
                        $('#Subject').val('');
                    }
                })
            }
        }

    </script>
    <script>

        $('#btn_submit').click(function () {
           
            let data = $('#contactForm').serialize();
            contact.post(data);
        });
    </script>
}

