﻿@model ExcellOn.DAL.Service

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{

    <link href="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
}
<div class="widget-content searchable-container list">

    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
            <div class="input-group mb-4">

                <div class="input-group-append">
                    <a class="btn btn-outline-primary btn-search" href="@Url.Action("Index","Service")">Back To List</a>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-center layout-spacing align-self-center">
            <div class="d-flex justify-content-sm-end justify-content-center mb-4">
                <button class="btn btn-outline-warning btn-edit " data-id="@Model.IdEncrypt"><i class="far fa-edit"></i></button>
            </div>


        </div>
        <div class="row">
            <div class="title col-md-6">
                <h2>@Model.Name - @String.Format("{0:C}", Model.Change)</h2>
                <p class="mt-3" style="text-transform:initial;">@Model.ShortDescription</p>
            </div>
            <div style="width:70%;text-align:center;" class="col-md-6">
                <img src="/Areas/Admin/Content/Images/@Model.Image" alt="" style="width:100%;object-fit:fill" />
            </div>
        </div>
        <div>
            <div class="mt-4">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
    <div class="modal fade slideInUp custo-slideInUp modal-entity" id="modal-depart" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">

                    <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                    <div class="add-contact-box">
                        <div class="add-contact-content">
                            <form id="form-validate">


                                <input type="hidden" value="" name="Id" id="Id" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group  text-left">

                                            <input type="text" id="Name" class="form-control tick" placeholder="Name" name="Name" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group  text-left">

                                            <input type="text" id="Change" class="form-control tick" placeholder="Change" name="Change" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group  text-left">


                                            <input type="file" class="form-control tick" id="PostedFileBase" name="PostedFileBase" accept="Image/*" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-left">
                                            <textarea type="text" id="ShortDescription" class="form-control tick" placeholder="ShortDescription" name="ShortDescription"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-left">
                                            <textarea type="text" id="Description" class="form-control" placeholder="Description" name="Description"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">


                    <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>

                    <button class="btn btn-outline-success btn-save" style="padding:10px 25px;">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>
    <script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="~/Areas/Admin/Content/plugins/sweetalerts/custom-sweetalert.js"></script>
    <script>

        var description = CKEDITOR.replace('Description');

        var validator = $("#form-validate").validate({
            rules: {
                Name: "required",
                Charges: {
                    required: true,
                    number: true

                }
            },
            messages: {
                Name: "The Name field is required.",


                Charges: {
                    required: "The Charges field is required.",
                    number: "You must enter a number"
                }
            }
        });

        var service = {

            edit: function (obj) {
                $.ajax({
                    type: "PUT",
                    url: "/Admin/Service/Edit",
                    data: obj,
                    processData: false,
                    contentType: false,
                    success: function (res) {

                        validator.showErrors(res.errors);
                        if (!res.errors) {

                            $('.modal-entity').modal('hide');

                        }
                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        }).then(function (res) {

                            location.reload();
                        })
                    }
                })
            },

            finOne: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/Service/GetOne",
                    data: { IdEncrypt: id },
                    success: function (res) {
                        if (res.data) {
                            modal.setValue(res.data)
                        } else {
                            swal({
                                title: res.message,
                                text: "You clicked the!",
                                type: res.type,
                                padding: '2em'
                            })
                        }



                    }
                })
            }
        }
        var modal = {
            removevalue: function () {
                $('#Id').val('')
                $('#Name').val('')
                $('#Change').val('')
                $('#Description').val('')
                $('#ShortDescription').val('')
                $('#PostedFileBase').val(null)
                description.setData('');
            },
            setValue: function (obj) {
                $('#Id').val(obj.Id)
                $('#Name').val(obj.Name)
                $('#Change').val(obj.Change)
                $('#ShortDescription').val(obj.ShortDescription)

                description.setData(obj.Description);
            }
        }

    </script>
    <script>



        $(".btn-save").click(function () {


            //formdata = formdata.replace("id=&", '');
            let formdata = new FormData();
            formdata.append("Id", $('#Id').val())
            formdata.append("Name", $('#Name').val())

            formdata.append("Change", $('#Change').val())
            formdata.append("Description", description.getData())
            formdata.append("ShortDescription", $('#ShortDescription').val())


            //let formdata = $('#form').serialize();
            if ($('#Id').val()) {
                formdata.append("PostedFileBase", $('#PostedFileBase')[0].files[0] || new Blob())
                service.edit(formdata);
            }


        });



        //delete service
        $(document).on('click', '.btn-edit', function () {

            let id = $(this).data("id");
            $('.modal-entity').modal("show");
            service.finOne(id);

        });
        $('.modal-entity').on('hidden.bs.modal', function () {
            validator.resetForm();
            $(".form-control").removeClass("error");
            modal.removevalue();
        })
    </script>
}

