﻿@model ExcellOn.DAL.New
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@section css{
}
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content max-width">
            <h2>Blog Detail</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Blog Details</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08" data-revert="true" style="transform: matrix(1, 0, 0, 1, -23.36, 10.24);">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08" data-revert="true" style="transform: matrix(1, 0, 0, 1, -23.36, 10.24);">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08" data-revert="true" style="transform: matrix(1, 0, 0, 1, -23.36, 10.24);">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08" data-revert="true" style="transform: matrix(1, 0, 0, 1, -23.36, 10.24);">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>
<div class="blog-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="~/Areas/Admin/Content/Images/@Model.Image" alt="image">
                    </div>
                    <div class="article-content">
                        <ul class="entry-meta">
                            <li>
                                <i class="ri-user-line"></i>
                                <a href="#">@Model.User.Name</a>
                            </li>
                            <li>
                                <i class="ri-time-line"></i>
                                @String.Format("{0:yyy/MM/dd hh:mm:ss}", Model.CreatedDate)
                            </li>
                        </ul>
                        <h3>@Model.Title</h3>
                        @Html.Raw(Model.Content)
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_categories">
                        <h3 class="widget-title">Post Categories</h3>
                        <ul id="postCategory">
                            @foreach (var item in ViewBag.PostCategory)
                            {
                                <li><a href="@Url.Action("Index","Blog",new { categoryName=item.Name})">@item.Name</a>(@item.NewsCount)</li>
                            }
                        </ul>
                    </div>
                    <div class="widget widget_plod_posts_thumb">
                        <h3 class="widget-title">Popular Posts</h3>

                        @foreach (var item in ViewBag.listBlog)
                        {
                           
                            <article class="item">
                                <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })" class="thumb">
                                    <span class="fullimage cover " role="img" style="background-image: url(/Areas/Admin/Content/Images/@item.Image);"></span>
                                </a>
                                <div class="info">
                                    <h4 class="title usmall">
                                        <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })">@item.Title</a>
                                    </h4>
                                    <span><i class="ri-time-line"></i>    @String.Format("{0:yyy/MM/dd hh:mm:ss}", item.CreatedDate)</span>
                                </div>
                            </article>
                        }


                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">Popular Tags</h3>
                        <div class="tagcloud">
                            @foreach (var item in ViewBag.PostCategory)
                            {
                               <a href="@Url.Action("Index","Blog",new { categoryName=item.Name})">@item.Name</a>
                            }
                           
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
   
</div>
<div class="container">
    <div class="fb-comments" data-href="https://localhost:44309/Blog/BlogDetails/@Model.Id" data-width="100%" data-numposts="5"></div>
</div>


@section scripts{
    
  
}

