﻿@model IEnumerable<ExcellOn.DAL.New>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@section css{
    
    <link href="~/Areas/Admin/Content/bootstrap/css/toggle.css" rel="stylesheet" />
    <style>
        .pagination {
            justify-content: center;
            margin-bottom:40px;
        }
    </style>
}

<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Blog Post</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Blog Post</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row" id="blog">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 col-md-6">
                            <div class="single-blog">
                                <div class="blog-image">
                                    <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })"><img src="~/Areas/Admin/Content/Images/@item.Image" alt="image" style="height:314px;"></a>
                                </div>
                                <div class="blog-content" >
                                    <ul class="entry-meta">
                                        <li class="tag">@item.User.Name</li>
                                        <li>
                                            <i class="ri-time-line"></i>
                                            @String.Format("{0:yyy/MM/dd hh:mm:ss}", item.CreatedDate)
                                        </li>
                                    </ul>
                                    <h5 class="mt-1">
                                        <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })">@item.Title</a>
                                    </h5>
                                    @{

                                        string sortDecription = item.ShortDescription;

                                        if (sortDecription != null && sortDecription.Length > 100) { sortDecription = sortDecription.Substring(0, 100) + "..."; }



                                    }
                                   
                                <p>@sortDecription</p>
                                    <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })" class="btn btn-outline-success">Read More</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_categories">
                        <h3 class="widget-title">Post Categories</h3>
                        <ul id="postCategory">
                            @foreach (var item in ViewBag.PostCategory)
                            {
                                <li><a href="@Url.Action("Index","Blog",new { categoryName=item.Name})">@item.Name</a>(@item.NewsCount)</li>
                            }
                        </ul>
                    </div>
                    <div class="widget widget_plod_posts_thumb">
                        <h3 class="widget-title">Popular Posts</h3>

                        @foreach (var item in ViewBag.listBlog)
                        {

                            <article class="item">
                                <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })" class="thumb">
                                    <span class="fullimage cover " role="img" style="background-image: url(/Areas/Admin/Content/Images/@item.Image);"></span>
                                </a>
                                <div class="info">
                                    <h4 class="title usmall">
                                        <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })">@item.Title</a>
                                    </h4>
                                    <span><i class="ri-time-line"></i>    @String.Format("{0:yyy/MM/dd hh:mm:ss}", item.CreatedDate)</span>
                                </div>
                            </article>
                        }


                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="blog-shape-1" data-speed="0.08" data-revert="true" style="transform: matrix(1, 0, 0, 1, -29.12, -2.24);">
        <img src="~/Content/assets/images/blog/shape-1.png" alt="image">
    </div>
    <div class="blog-shape-2" data-speed="0.08" data-revert="true" style="transform: matrix(1, 0, 0, 1, -29.12, -2.24);">
        <img src="~/Content/assets/images/blog/shape-2.png" alt="image">
    </div>
</div>
<div>
    <div class="pagination-area ">

        @if (ViewBag.TotalPage > 0)
        {
            <ul class="pagination">
            </ul>
        }
    </div>
</div>
@section scripts{
   
    <script src="~/Areas/Admin/Content/assets/js/formatDate.js"></script>

    <script src="~/Content/assets/js/pagination.js"></script>

    <script>
        $(function () {
            let totalPage = @ViewBag.TotalPage;
            let currentPage = @ViewBag.Page;
            let categoryName = "@ViewBag.categoryName"
            $('.pagination').show();
            $('.pagination').twbsPagination({
                totalPages: totalPage,
                visiblePages: 10,
                startPage: currentPage,

                onPageClick: function (event, page) {
                    var url = "/Blog?page=" + page;
                    if (categoryName != "") {
                        url += "&categoryName=" + categoryName;
                    }
                    if (currentPage != page) {
                        window.location.href = url
                    }

                }
            })
        })
    </script>
}
