﻿@{
    var user = (ExcellOn.DAL.User)@Session["user"];
   
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from designreset.com/cork/ltr/demo3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2020 13:47:55 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title> Admin | Excell </title>
    <link rel="icon" type="image/x-icon" href="~/Areas/Admin/Content/assets/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    @Styles.Render("~/Admin/css")
    @RenderSection("css", required: false)
</head>
<body>
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->
    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">

            <ul class="navbar-item theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                    <a href="index.html">
                        <img src="~/Areas/Admin/Content/assets/img/logo.svg" class="navbar-logo" alt="logo">
                    </a>
                </li>
                <li class="nav-item theme-text">
                    <a href="index.html" class="nav-link"> Excell On </a>
                </li>
            </ul>



            <ul class="navbar-item flex-row ml-md-auto">


                <li class="nav-item dropdown user-profile-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        @{
                            var avatar = "/Areas/Admin/Content/Images/" + user.Avatar;

                            if (String.IsNullOrEmpty(user.Avatar))
                            {

                                avatar = "https://ui-avatars.com/api/?name=" + user.Name;
                            }
                        }
                        <img src="@avatar" alt="avatar">
                    </a>
                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="">
                            <div class="dropdown-item">
                                <a href="@Url.Action("Profiles","User")"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> My Profile</a>
                            </div>

                            <div class="dropdown-item">
                                <a href="javascript:void(0);" class="change-pass"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock "><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>Password</a>
                            </div>
                            <div class="dropdown-item">
                                <a href="@Url.Action("Logout","User")"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Sign Out</a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Sales</span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">
                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories ps ps--active-y" id="accordionExample">
                    <li class="menu">
                        <a href="#dashboard" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span>Dashboard</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled @ViewBag.ShowDash" id="dashboard" data-parent="#accordionExample">
                            <li class="@ViewBag.ShowSales">
                                <a href="@Url.Action("Sales","Home")"> Sales </a>
                            </li>
                            <li class="@ViewBag.ShowAnalytics">
                                <a href="@Url.Action("Index","Home")"> Analytics </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu">
                        <a href="#elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                                <span>Client Service</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled  @ViewBag.showOrderService" id="elements" data-parent="#accordionExample">
                            <li class="@ViewBag.activeListOrderService">
                                <a href="@Url.Action("Index","OrderService")">List Order</a>
                            </li>
                            <li class="@ViewBag.activeClientService">
                                <a href="@Url.Action("Index","ClientService")">Client Service</a>
                            </li>


                        </ul>
                    </li>

                    <li class="menu">
                        <a href="#components" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                                <span>Management</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled @ViewBag.show" id="components" data-parent="#accordionExample">
                            <li class="@ViewBag.activeUser">
                                <a href="@Url.Action("Index","User")">Users </a>
                            </li>
                            <li class="@ViewBag.activeEmployee">
                                <a href="@Url.Action("Index","Employee")"> Employees  </a>
                            </li>
                            <li class="@ViewBag.activeDerpartment">
                                <a href="@Url.Action("Index","Department")"> Departments </a>
                            </li>
                            <li class="@ViewBag.activeService">
                                <a href="@Url.Action("Index","Service")"> Services </a>
                            </li>
                            <li class="@ViewBag.activePostCategory">
                                <a href="@Url.Action("Index","PostCategori")">Post Category</a>
                            </li>
                            <li class="@ViewBag.activeNew">
                                <a href="@Url.Action("Index","New")">News</a>
                            </li>

                            <li class="@ViewBag.activenformation">
                                <a href="@Url.Action("Index","Information")">Contact Information</a>
                            </li>
                            <li class="@ViewBag.activeGroupUser">
                                <a href="@Url.Action("Index","GroupUser")">User Groups</a>
                            </li>
                            <li class="@ViewBag.activeBussiness">
                                <a href="@Url.Action("Index","Bussiness")">Bussiness</a>
                            </li>
                            <li class="@ViewBag.activeProductClient">
                                <a href="@Url.Action("Index","ProductClient")">Products Client</a>
                            </li>
                            <li class="@ViewBag.ServiceReview">
                                <a href="@Url.Action("Index","ServiceReview")">Review Service</a>
                            </li>
                        </ul>
                    </li>



                    <li class="menu @ViewBag.activeReceiveEmail">
                        <a href="@Url.Action("Index","ReceiveEmail")" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                <span>Reply to email</span>
                            </div>
                        </a>
                    </li>


                </ul>
                <!-- <div class="shadow-bottom"></div> -->

            </nav>

        </div>

        <!--  END SIDEBAR  -->
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing">
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
        <div class="modal fade modal-pass" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered  modal-md " role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom:none;">

                        <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                        <div class="add-contact-box">
                            <div class="add-contact-content">
                                <form id="form-validate-password">

                                    <input type="hidden" id="Id" class="form-control" placeholder="Location" name="Id" value="@user.Id">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group  text-left">

                                                <input type="password" id="Password" class="form-control tick" placeholder="Enter Password" name="Password" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group  text-left">

                                                <input type="password" id="NewPassword" class="form-control tick" placeholder="Enter New Password" name="NewPassword" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group  text-left">

                                                <input type="password" id="ComfirmPassword" class="form-control tick" placeholder="Enter Comfirm Password" name="ComfirmPassword" required>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">


                        <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>

                        <button class="btn btn-outline-success btn-save-pass" style="padding:10px 25px;">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    @Scripts.Render("~/Admin/js")
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>

    <script>


        toastr.options =
        {
            newestOnTop: true,
            closeButton: false,
            progressBar: true,
            preventDuplicates: false,
            showMethod: 'slideDown',
            timeOut: 2000, //default timeout,
        };
        var showToastr = function (type, message) {
            switch (type) {
                case 'info':
                    toastr.info(message);
                    break;

                case 'warning':
                    toastr.warning(message);
                    break;

                case 'success':
                    toastr.success(message);
                    break;

                case 'error':
                    toastr.error(message);
                    break;
            }
        }
        $('.change-pass').click(function () {

            $('.modal-pass').modal('show');
        })


        var validateFormPass = $('#form-validate-password').validate({
            rules: {
                Password: {
                    required: true,
                    minlength: 8,

                },
                NewPassword: {
                    required: true,
                    minlength: 8,

                },
                ConfirmPassword: {
                    required: true,
                    minlength: 8,
                    equalTo: "#NewPassword"
                }
            }
        });

        $('.btn-save-pass').click(function () {
            $.ajax({
                type: "PUT",
                url: "/Admin/User/ChangePassword",
                data: $('#form-validate-password').serialize(),
                success: function (res) {
                    console.log(res)
                    if (res.errors) {
                        validateFormPass.showErrors(res.errors);

                    } else {

                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        })
                        $('.modal-pass').modal('hide');
                    }
                }
            });
        })

        $('.modal-pass').on('hidden.bs.modal', function () {
            validateFormPass.resetForm();
            $(".form-control").removeClass("error");
            $('#Password').val('')
            $('#NewPassword').val('')
            $('#ComfirmPassword').val('')
        })
    </script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from designreset.com/cork/ltr/demo3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2020 13:48:36 GMT -->
</html>