﻿@model ExcellOn.PL.Areas.Admin.Helper.CartHelper.Cart
@{
    var email = HttpContext.Current.Request.Cookies["email"] == null ? "" : HttpContext.Current.Request.Cookies["email"].Value;


}
<div class="header-information">Header Information</div>
<div class="top-header-area bg-color-wrap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">

            </div>
            <div class="col-lg-5 col-md-6">
                <ul class="top-header-optional">
                    <li>
                        <a href="#" target="_blank">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="ri-twitter-fill"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="ri-linkedin-fill"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="ri-messenger-fill"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="~/Content/assets/images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="~/Content/assets/images/logo.png" alt="logo">
                </a>
                <div class="collapse navbar-collapse mean-menu"
                     id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Home")" class="nav-link active">
                                Home
                              
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("About","Home")" class="nav-link">
                                About
                                
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Service")" class="nav-link">
                                Services
                            
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Blog")" class="nav-link">
                                Blog
                               
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Contact")" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <div class="others-options d-flex
                                align-items-center">
                        <div class="option-item" style="margin-bottom:-9px;">
                            <i class="search-btn ri-search-line"></i>
                            <i class="close-btn ri-close-line"></i>
                            <div class="search-overlay search-popup">
                                <div class='search-box'>
                                    <form class="search-form" method="get" action="@Url.Action("Index","Service")">
                                        <input class="search-input"
                                               name="search"
                                               placeholder="Search..."
                                               type="text">
                                        <button class="search-button"
                                                type="submit">
                                            <i class="ri-search-line"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="option-item">
                            <a href="@Url.Action("Index","FavoriteService",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})">
                                <div class="side-menu-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" style="height:38px;">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                    </svg>
                                    <span class="header-action-num total-withlist">@ViewBag.totalFavorite</span>
                                </div>
                            </a>

                        </div>
                        <div class="option-item" style="margin-bottom:5px">
                            <div class="side-menu-btn">
                                <i data-bs-toggle="modal" data-bs-target="#sidebarModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                    </svg>
                                </i>
                                <span class="header-action-num total-cart">@Model.CartItems.Count()</span>
                            </div>
                        </div>

                        <div class="option-item">
                            @if (String.IsNullOrEmpty(email))
                            {


                                <a href="@Url.Action("Login","User")">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-bottom: 5px;">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Profiles","User",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})"
                                   class="default-btn">
                                    @email<i class="ri-user-line"></i><span></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex
                                align-items-center">
                        <div class="option-item">
                            <i class="search-btn ri-search-line"></i>
                            <i class="close-btn ri-close-line"></i>
                            <div class="search-overlay search-popup">
                                <div class='search-box'>
                                    <form class="search-form" method="get" action="@Url.Action("Index","Service")">
                                        <input class="search-input"
                                               name="search"
                                               placeholder="Search..."
                                               type="text">
                                        <button class="search-button"
                                                type="submit">
                                            <i class="ri-search-line"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="option-item">
                            @if (String.IsNullOrEmpty(email))
                            {


                                <a href="@Url.Action("Login","User")">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Profiles","User",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})"
                                   class="default-btn">
                                    @email<i class="ri-user-line"></i><span></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebarModal modal right fade" id="sidebarModal"
     tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal">
                <i class="ri-close-line"></i>
            </button>
            <div class="modal-body">
                <div class="offcanvas-cart-content">
                    <!-- Offcanvas Cart Title Start -->
                    <h2 class="offcanvas-cart-title mb-10">Shopping Cart</h2>
                    <!-- Offcanvas Cart Title End -->
                    <!-- Cart Product/Price Start -->
                    <div class="list-mini-cart">
                        @foreach (var item in Model.CartItems)
                        {
                            <div class="cart-product-wrapper mb-6">

                                <!-- Single Cart Product Start -->
                                <div class="single-cart-product">
                                    <div class="cart-product-thumb">
                                        <a href="@Url.Action("ServiceDetail","Service",new { id= item.Service.Id})">
                                            <img src="~/Areas/Admin/Content/Images/@item.Service.Image" />

                                        </a>
                                    </div>
                                    <div class="cart-product-content">
                                        <h3 class="title"><a href="@Url.Action("ServiceDetail","Service",new { id= item.Service.Id})">@item.Service.Name</a></h3>
                                        <span class="price">
                                            <span>@String.Format("{0:C}", @item.Changes)</span>
                                        </span>
                                    </div>
                                </div>
                                <!-- Single Cart Product End -->
                                <!-- Product Remove Start -->
                                <div class="cart-product-remove">
                                    <a href="@Url.Action("DeletCartItem","Order",new { ServiceId = item.Service.Id })"><i class="ri-delete-bin-line"></i></a>
                                </div>
                                <!-- Product Remove End -->

                            </div>
                        }
                    </div>
                    <!-- Cart Product/Price End -->
                    <!-- Cart Product Total Start -->
                    <div class="cart-product-total">
                        <span class="value">Subtotal</span>
                        <span class="price">@String.Format("{0:C}", Model.TotalPrice)</span>
                    </div>
                    <!-- Cart Product Total End -->
                    <!-- Cart Product Button Start -->
                    <div class="cart-product-btn mt-4">
                        <a href="@Url.Action("Index","Order")" class="btn btn-dark btn-hover-primary rounded-0 w-100">View cart</a>
                        <a href="@Url.Action("CheckOut","Order",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(email)})" class="btn btn-dark btn-hover-primary rounded-0 w-100 mt-4">Checkout</a>
                    </div>
                    <!-- Cart Product Button End -->

                </div>
            </div>
        </div>
    </div>
</div>