﻿@model IEnumerable<ExcellOn.DAL.Service>
<div class="row justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6">

            <div class="single-services-item">
                <div class="icon bg-FF6D3D">
                    <i class="ri-customer-service-2-line"></i>
                </div>
                <h4>

                    <a href="@Url.Action("ServiceDetail","Service",new { id= item.Id})"> @item.Name</a>

                </h4>
                <p class="short-decription">

                    @{

                        string sortDecription = item.ShortDescription;

                        if (sortDecription != null && sortDecription.Length > 200) { sortDecription = sortDecription.Substring(0, 200) + "..."; }



                    }
                    @sortDecription
                </p>
                <a href="@Url.Action("ServiceDetail","Service",new { id= item.Id})" class="btn services-btn">

                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
    }


</div>