﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>

<div class="features-area pt-100 pb-70">
    <div class="container">
     
    </div>
    <div class="features-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/features/shape-1.png" alt="image">
    </div>
    <div class="features-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/features/shape-2.png" alt="image">
    </div>
</div>


<div class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image" data-speed="0.02"
                     data-revert="true">
                    <img src="~/Content/assets/images/about/about.png"
                         alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-item">
                    <div class="about-content">
                        <div class="tag">
                            <img src="~/Content/assets/images/about/tag-icon.png"
                                 alt="image">
                        </div>
                        <h3>Over 12 Year Professional Experiences</h3>
                        <p>
                            Best Strategic planning dolor sit amet
                            consectetur adipiscing elit. Scelerisque
                            amet odio velit auctor. nam elit nulla eget
                            sodales dui pulvinar. Best Strategic
                            planning dolor sit sectetur morethe
                        </p>
                        <p>
                            Scelerisque amet odio velit eu auctor.
                            Aliquet nam elit.
                        </p>
                    </div>
                    <div class="about-inner-content">
                        <img src="~/Content/assets/images/about/img1.png"
                             alt="image">
                        <h4>Strategic Planning</h4>
                        <p>
                            Best Strategic planning dolor sit amet
                            consectetur adipiscing elit. risque amet
                            odio velit eu auctor. Best eone Strategic
                            planning dolor.
                        </p>
                    </div>
                    <div class="about-inner-content">
                        <img src="~/Content/assets/images/about/img2.png"
                             alt="image">
                        <h4>Achieve the Goal</h4>
                        <p>
                            Plod digital agency for your start planning
                            dolor sit amet consectetur adipiscing elit.
                            Scelerisque amet odio velit eu auctor.
                            Aliquet nam elit nulla eget sodales dui
                            pulvinar.
                        </p>
                    </div>
                    <div class="about-inner-content">
                        <img src="~/Content/assets/images/about/img3.png"
                             alt="image">
                        <h4>Startup Applications</h4>
                        <p>
                            Best Strategic planning dolor sit amet
                            consectetur adipiscing elit. risque amet
                            odio velit eu auctor
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-1.png" alt="image">
    </div>
    <div class="about-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-2.png" alt="image">
    </div>
    <div class="about-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-3.png" alt="image">
    </div>
    <div class="about-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-4.png" alt="image">
    </div>
    <div class="about-shape-5" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-5.png" alt="image">
    </div>
    <div class="about-shape-6" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-4.png" alt="image">
    </div>
    <div class="about-shape-7" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-5.png" alt="image">
    </div>
</div>


<div class="fun-facts-area ptb-100">
    <div class="container">
        <div class="fun-facts-box">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="ri-user-line"></i>
                        </div>
                        <h3>
                            <span class="odometer" data-count="3230">00</span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Total Cases</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="ri-briefcase-line"></i>
                        </div>
                        <h3>
                            <span class="odometer" data-count="3026">00</span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Case Solved</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="ri-trophy-line"></i>
                        </div>
                        <h3>
                            <span class="odometer" data-count="320">00</span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Winning Awards</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="ri-flag-line"></i>
                        </div>
                        <h3>
                            <span class="odometer" data-count="102">00</span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Country Over</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fun-facts-shape-1" data-speed="0.09" data-revert="true">
        <img src="~/Content/assets/images/fun-facts/shape-1.png" alt="image">
    </div>
    <div class="fun-facts-shape-2" data-speed="0.05" data-revert="true">
        <img src="~/Content/assets/images/fun-facts/shape-2.png" alt="image">
    </div>
    <div class="fun-facts-shape-3" data-speed="0.09" data-revert="true">
        <img src="~/Content/assets/images/fun-facts/shape-3.png" alt="image">
    </div>
    <div class="fun-facts-shape-4" data-speed="0.05" data-revert="true">
        <img src="~/Content/assets/images/fun-facts/shape-4.png" alt="image">
    </div>
</div>


<div class="support-area">
    <div class="container">
        <div class="support-content">
            <div class="tag">
                <img src="~/Content/assets/images/experiences/tag-icon.png"
                     alt="image">
            </div>
            <h3>Lightning-Fast Tech Support, Guaranteed</h3>
            <p>
                Excell-on Consulting Services (ECS) helps organizations develop innovative business and commerce strategies and solutions. These solutions allow their (organizations, say clients of Excell-on Consulting Services) customers to capitalize on new technologies to create innovative products and services for the economy. Their consulting team stays focused on defining, optimizing, and aligning their client’s business and IT strategies.
            </p>
            <span>Regan Rosen, CEO at Flod Agency</span>
        </div>
    </div>
    <div class="support-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-1.png" alt="image">
    </div>
    <div class="support-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-2.png" alt="image">
    </div>
    <div class="support-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-3.png" alt="image">
    </div>
    <div class="support-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-4.png" alt="image">
    </div>
    <div class="support-shape-5" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-5.png" alt="image">
    </div>
    <div class="support-shape-6" data-speed="0.02" data-revert="true">
        <img src="~/Content/assets/images/support/shape-6.png" alt="image">
    </div>
</div>


<div class="team-area">
    <div class="container">
        <div class="section-title">
            <h2>Meet the Founders of Excell-On</h2>
            <p>
                Which peoples loves us a lot, please check out what about
                says about us
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="~/Content/assets/images/team/team-1.jpg"
                             alt="image">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/nguyen.ad.18/" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/nguyen.ad.18/" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/nguyen.ad.18/" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/nguyen.ad.18/" target="_blank">
                                    <i class="ri-messenger-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Nguyen Trong Hung</h3>
                        <span>Senior IT Consultant</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="~/Content/assets/images/team/team-2.jpg"
                             alt="image">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/trantuananh.tta.22" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/trantuananh.tta.22" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/trantuananh.tta.22" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/trantuananh.tta.22" target="_blank">
                                    <i class="ri-messenger-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Tran Tuan Anh</h3>
                        <span>Financial Consultant</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="image">
                        <img src="~/Content/assets/images/team/team-3.jpg"
                             alt="image">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/HoangAnhh.0212" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/HoangAnhh.0212" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/HoangAnhh.0212" target="_blank">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/HoangAnhh.0212" target="_blank">
                                    <i class="ri-messenger-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Dinh Hoang Anh</h3>
                        <span>Web Developer</span>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
   
</div>



<div class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>
                Which peoples loves us a lot, please check out what about
                says about us
            </p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="faq-image">
                    <img src="~/Content/assets/images/faq/faq-1.png" alt="image">
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="faq-accordion">
                    <div class="accordion">
                        <div class="accordion-item">
                            <div class="accordion-title active">
                                <i class="ri-add-line"></i>
                                Why Are Consultants Important?
                            </div>
                            <div class="accordion-content show">
                                <p>
                                    The IT industry offers a sea of
                                    options, from platforms, programming
                                    languages, methodologies,
                                    technologies, tools, and more. IT
                                    consulting services are important
                                    because they play a vital role in
                                    businesses by covering the
                                    management, implementation,
                                    deployment, and maintenance of an IT
                                    infrastructure. IT industry offers a
                                    sea of options, from platforms,
                                    programming languages,
                                    methodologies, technologies, tools,
                                    and more.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class="ri-add-line"></i>
                                What is The Purpose of a Consultant?
                            </div>
                            <div class="accordion-content">
                                <p>
                                    The IT industry offers a sea of
                                    options, from platforms, programming
                                    languages, methodologies,
                                    technologies, tools, and more. IT
                                    consulting services are important
                                    because they play a vital role in
                                    businesses by covering the
                                    management, implementation,
                                    deployment, and maintenance of an IT
                                    infrastructure. IT industry offers a
                                    sea of options, from platforms,
                                    programming languages,
                                    methodologies, technologies, tools,
                                    and more.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class="ri-add-line"></i>
                                What Attracts You To The Role of a
                                Consultant?
                            </div>
                            <div class="accordion-content">
                                <p>
                                    The IT industry offers a sea of
                                    options, from platforms, programming
                                    languages, methodologies,
                                    technologies, tools, and more. IT
                                    consulting services are important
                                    because they play a vital role in
                                    businesses by covering the
                                    management, implementation,
                                    deployment, and maintenance of an IT
                                    infrastructure. IT industry offers a
                                    sea of options, from platforms,
                                    programming languages,
                                    methodologies, technologies, tools,
                                    and more.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class="ri-add-line"></i>
                                What Are The Advantages of Being a
                                Consultant?
                            </div>
                            <div class="accordion-content">
                                <p>
                                    The IT industry offers a sea of
                                    options, from platforms, programming
                                    languages, methodologies,
                                    technologies, tools, and more. IT
                                    consulting services are important
                                    because they play a vital role in
                                    businesses by covering the
                                    management, implementation,
                                    deployment, and maintenance of an IT
                                    infrastructure. IT industry offers a
                                    sea of options, from platforms,
                                    programming languages,
                                    methodologies, technologies, tools,
                                    and more.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class="ri-add-line"></i>
                                Is Consulting a Good Career?
                            </div>
                            <div class="accordion-content">
                                <p>
                                    The IT industry offers a sea of
                                    options, from platforms, programming
                                    languages, methodologies,
                                    technologies, tools, and more. IT
                                    consulting services are important
                                    because they play a vital role in
                                    businesses by covering the
                                    management, implementation,
                                    deployment, and maintenance of an IT
                                    infrastructure. IT industry offers a
                                    sea of options, from platforms,
                                    programming languages,
                                    methodologies, technologies, tools,
                                    and more.
                                </p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class="ri-add-line"></i>
                                How is Working in Consulting?
                            </div>
                            <div class="accordion-content">
                                <p>
                                    The IT industry offers a sea of
                                    options, from platforms, programming
                                    languages, methodologies,
                                    technologies, tools, and more. IT
                                    consulting services are important
                                    because they play a vital role in
                                    businesses by covering the
                                    management, implementation,
                                    deployment, and maintenance of an IT
                                    infrastructure. IT industry offers a
                                    sea of options, from platforms,
                                    programming languages,
                                    methodologies, technologies, tools,
                                    and more.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



