﻿@model ExcellOn.DAL.ContactInformation

<footer class="footer-area pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <div class="widget-logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="~/Content/assets/images/logo.png"
                                 alt="image">
                        </a>
                    </div>
                    <p>
                        Excell-on Consulting Services (ECS) helps organizations develop innovative business and commerce strategies and solutions.
                    </p>
                    <ul class="widget-info">
                        <li>
                            <i class="ri-customer-service-line"></i>
                            <a href="tel:@Model.Phone"></a>@Model.Phone
                        </li>
                        <li>
                            <i class="ri-global-line"></i>
                            <a href="javascript:void(0);">
                                <span class="__cf_email__"
                                      data-cfemail=""></span>
                            </a>@Model.Email
                        </li>
                        <li>
                            <i class="ri-map-pin-line"></i>
                           @Model.Address
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3">
                <div class="single-footer-widget">
                    <h3>Quick Link</h3>
                    <ul class="footer-links-list">
                        <li><a href="jascript:void(0);">Gallery</a></li>
                        <li><a href="@Url.Action("About","Home")">About Us</a></li>
                        <li><a href="jascript:void(0);">Contact</a></li>
                        <li><a href="jascript:void(0);">Purchase Guide</a></li>
                        <li>
                            <a href="jascript:void(0);">
                                Terms of
                                Service
                            </a>
                        </li>
                        <li><a href="jascript:void(0);">Faq’s</a></li>
                        <li><a href="jascript:void(0);">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3">
                <div class="single-footer-widget">
                    <h3>About Us</h3>
                    <ul class="footer-links-list">
                        <li><a href="jascript:void(0);">Gallery</a></li>
                        <li><a href="jascript:void(0);">About Us</a></li>
                        <li><a href="jascript:void(0);">Contact</a></li>
                        <li><a href="jascript:void(0);">Purchase Guide</a></li>
                        <li>
                            <a href="jascript:void(0);">
                                Terms of
                                Service
                            </a>
                        </li>
                        <li><a href="jascript:void(0);">Faq’s</a></li>
                        <li><a href="jascript:void(0);">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Services</h3>
                    <ul class="footer-links-list">
                        <li><a href="jascript:void(0);">Pricing</a></li>
                        <li>
                            <a href="jascript:void(0);">
                                Digital
                                Marketing
                            </a>
                        </li>
                        <li><a href="jascript:void(0);">Purchase Guide</a></li>
                        <li><a href="jascript:void(0);">Support</a></li>
                        <li><a href="jascript:void(0);">Testimonials</a></li>
                        <li>
                            <a href="services-details.html">
                                Cloud
                                Computing
                            </a>
                        </li>
                        <li><a href="jascript:void(0);">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Newsletter</h3>
                    <div class="widget-newsletter">
                        <div class="newsletter-content">
                            <p>
                                Best solution for your it startup
                                business consecteturadipiscing elit.
                            </p>
                        </div>
                        <form class="newsletter-form"
                              data-bs-toggle="validator">
                            <input type="email" class="input-newsletter"
                                   placeholder="Enter email" name="EMAIL"
                                   required autocomplete="off">
                            <button type="submit">
                                <i class="ri-send-plane-2-line"></i>
                            </button>
                            <div id="validator-newsletter"
                                 class="form-result"></div>
                        </form>
                    </div>
                    <ul class="widget-social">
                        <li>
                            <a href="jascript:void(0);" >
                                <i class="ri-facebook-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="jascript:void(0);" >
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="jascript:void(0);">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="jascript:void(0);" target="_blank">
                                <i class="ri-messenger-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <p>
                    Copyright © 2021 Plod. All Rights Reserved by
                    <a href="jascript:void(0);" >Excell-On</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/footer/shape-1.png" alt="image">
    </div>
    <div class="footer-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/footer/shape-2.png" alt="image">
    </div>
    <div class="footer-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/footer/shape-3.png" alt="image">
    </div>
    <div class="footer-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/footer/shape-4.png" alt="image">
    </div>
    <div class="footer-shape-5" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/footer/shape-5.png" alt="image">
    </div>
</footer>