﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="main-banner-with-large-shape-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="main-banner-white-content">
                    <div class="tag wow fadeInLeft"
                         data-wow-delay="300ms"
                         data-wow-duration="1000ms">
                        <img src="~/Content/assets/images/main-banner/banner-two/tag-icon.png"
                             alt="image">
                        # Excell-On Company.
                    </div>
                    <h1 class="wow fadeInLeft" data-wow-delay="00ms"
                        data-wow-duration="1000ms">
                        Excell-on Consulting Services (ECS).
                    </h1>
                    <p class="wow fadeInLeft" data-wow-delay="100ms"
                       data-wow-duration="1000ms">
                        Excell-on Consulting Services (ECS) helps organizations develop innovative business and commerce strategies and solutions.
                    </p>
                    <div class="banner-btn">
                        <a href="@Url.Action("About","Home")" class="default-btn wow
                                    fadeInRight" data-wow-delay="200ms"
                           data-wow-duration="1000ms">
                            Read More <i class="ri-arrow-right-line"></i><span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="main-banner-image">
                    <img src="~/Content/assets/images/main-banner/banner-two/img1.png"
                         class="wow fadeInDown" data-wow-delay="1200ms"
                         data-wow-duration="1200ms" alt="image"
                         data-speed="0.08" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/img2.png"
                         class="wow fadeInDown" data-wow-delay="1400ms"
                         data-wow-duration="1400ms" alt="image"
                         data-speed="0.06" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/img3.png"
                         class="wow fadeInDown" data-wow-delay="400ms"
                         data-wow-duration="1000ms" alt="image"
                         data-speed="0.08" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/img4.png"
                         class="wow fadeInDown" data-wow-delay="900ms"
                         data-wow-duration="1000ms" alt="image"
                         data-speed="0.08" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/img5.png"
                         class="wow fadeInUp" data-wow-delay="1200ms"
                         data-wow-duration="1000ms" alt="image"
                         data-speed="0.08" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/img6.png"
                         class="wow fadeInLeft" data-wow-delay="1500ms"
                         data-wow-duration="1500ms" alt="image"
                         data-speed="0.08" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/img7.png"
                         class="wow fadeInDown" data-wow-delay="1500ms"
                         data-wow-duration="1000ms" alt="image"
                         data-speed="0.08" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/img8.png"
                         class="wow fadeInDown" data-wow-delay="1200ms"
                         data-wow-duration="1000ms" alt="image"
                         data-speed="0.08" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/img9.png"
                         class="wow fadeInDown" data-wow-delay="1000ms"
                         data-wow-duration="1000ms" alt="image"
                         data-speed="0.08" data-revert="true">
                    <img src="~/Content/assets/images/main-banner/banner-two/main-pic.png"
                         alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner-shape-5">
        <img src="~/Content/assets/images/main-banner/banner-two/shape-1.png"
             alt="image">
    </div>
    <div class="main-banner-shape-6">
        <img src="~/Content/assets/images/main-banner/banner-two/shape-2.png"
             alt="image">
    </div>
    <div class="main-banner-shape-7">
        <img src="~/Content/assets/images/main-banner/banner-two/shape-3.png"
             alt="image">
    </div>
    <div class="main-banner-shape-8">
        <img src="~/Content/assets/images/main-banner/banner-two/shape-4.png"
             alt="image">
    </div>
    <div class="main-banner-large-shape">
        <img src="~/Content/assets/images/main-banner/banner-two/large-shape.png"
             alt="image">
    </div>
</div>


<div class="features-area pt-100 pb-70">
    <div class="container">
    
    </div>
    <div class="features-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/features/shape-1.png" alt="image">
    </div>
    <div class="features-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/features/shape-2.png" alt="image">
    </div>
    <div class="features-shape-3">
        <img src="~/Content/assets/images/features/shape-3.png" alt="image">
    </div>
    <div class="features-shape-4">
        <img src="~/Content/assets/images/features/shape-4.png" alt="image">
    </div>
</div>


<div class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image" data-speed="0.02"
                     data-revert="true">
                    <img src="~/Content/assets/images/about/about.png"
                         alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-item">
                    <div class="about-content">
                        <div class="tag">
                            <img src="~/Content/assets/images/about/tag-icon.png"
                                 alt="image">
                        </div>
                        <h3>Over 12 Year Professional Experiences</h3>
                        <p>
                            Best Strategic planning dolor sit amet
                            consectetur adipiscing elit. Scelerisque
                            amet odio velit auctor. nam elit nulla eget
                            sodales dui pulvinar. Best Strategic
                            planning dolor sit sectetur morethe
                        </p>
                        <p>
                            Scelerisque amet odio velit eu auctor.
                            Aliquet nam elit.
                        </p>
                    </div>
                    <div class="about-inner-content">
                        <img src="~/Content/assets/images/about/img1.png"
                             alt="image">
                        <p>
                            Best Strategic planning dolor sit amet
                            consectetur adipiscing elit. risque amet
                            odio velit eu auctor. Aliquet nam elit nulla
                            eget sodales dui pulvinar. Best eone
                            Strategic planning dolor.
                        </p>
                    </div>
                    <div class="about-inner-content">
                        <img src="~/Content/assets/images/about/img2.png"
                             alt="image">
                        <p>
                            Plod digital agency for your start planning
                            dolor sit amet consectetur adipiscing elit.
                            Scelerisque amet odio velit eu auctor.
                            Aliquet nam elit nulla eget sodales dui
                            pulvinar. Best Strategic planning.
                        </p>
                    </div>
                    <div class="about-inner-content">
                        <img src="~/Content/assets/images/about/img3.png"
                             alt="image">
                        <p>
                            Best Strategic planning dolor sit amet
                            consectetur adipiscing elit. risque amet
                            odio velit eu auctor. Aliquet nam elit nulla
                            eget sodales dui pulvinar. Best eone
                            Strategic planning dolor.
                        </p>
                    </div>
                    <div class="about-btn">
                        <a href="@Url.Action("About","Home")" class="default-btn">
                            Read More <i class="ri-arrow-right-line"></i><span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-1.png" alt="image">
    </div>
    <div class="about-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-2.png" alt="image">
    </div>
    <div class="about-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-3.png" alt="image">
    </div>
    <div class="about-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-4.png" alt="image">
    </div>
    <div class="about-shape-5" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-5.png" alt="image">
    </div>
    <div class="about-shape-6" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-4.png" alt="image">
    </div>
    <div class="about-shape-7" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/about/shape-5.png" alt="image">
    </div>
</div>


<div class="video-area pt-100">
    <div class="container">
        <div class="video-view-content">
            <div class="video-image">
                <img src="~/Content/assets/images/video/video-1.jpg" alt="image">
            </div>
            <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M"
               class="video-btn popup-youtube">
                <i class="ri-play-line"></i>
            </a>
        </div>
    </div>
    <div class="video-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/video/shape-1.png" alt="image">
    </div>
    <div class="video-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/video/shape-2.png" alt="image">
    </div>
</div>


<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Services We Offer</h2>
            <p>
                Best Strategic planning dolor sit amet consectetur
                adipiscing elit. Scelerisque amet odio velit auctor nam
                elit nulla eget sodales dui pulvina
            </p>
        </div>
        @{
            Html.RenderAction("_Service", "Home");
        }
    </div>
    <div class="services-shape-1" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-1.png" alt="image">
    </div>
    <div class="services-shape-2" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-2.png" alt="image">
    </div>
    <div class="services-shape-3" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-3.png" alt="image">
    </div>
    <div class="services-shape-4" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-4.png" alt="image">
    </div>
    <div class="services-shape-5" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-5.png" alt="image">
    </div>
</div>


<div class="fun-facts-area">
    <div class="container">
        <div class="fun-facts-box">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="ri-user-line"></i>
                        </div>
                        <h3>
                            <span class="odometer" data-count="3230">00</span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Total Cases</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="ri-briefcase-line"></i>
                        </div>
                        <h3>
                            <span class="odometer" data-count="3026">00</span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Case Solved</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="ri-trophy-line"></i>
                        </div>
                        <h3>
                            <span class="odometer" data-count="320">00</span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Winning Awards</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-fun-fact">
                        <div class="icon">
                            <i class="ri-flag-line"></i>
                        </div>
                        <h3>
                            <span class="odometer" data-count="102">00</span>
                            <span class="sign-icon">+</span>
                        </h3>
                        <p>Country Over</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fun-facts-shape-1" data-speed="0.09" data-revert="true">
        <img src="~/Content/assets/images/fun-facts/shape-1.png" alt="image">
    </div>
    <div class="fun-facts-shape-2" data-speed="0.05" data-revert="true">
        <img src="~/Content/assets/images/fun-facts/shape-2.png" alt="image">
    </div>
    <div class="fun-facts-shape-3" data-speed="0.09" data-revert="true">
        <img src="~/Content/assets/images/fun-facts/shape-3.png" alt="image">
    </div>
    <div class="fun-facts-shape-4" data-speed="0.05" data-revert="true">
        <img src="~/Content/assets/images/fun-facts/shape-4.png" alt="image">
    </div>
</div>




<div class="clients-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Our Respected Clients</h2>
            <p>
                Which peoples loves us a lot, please check out what about
                says about us
            </p>
        </div>
        <div class="clients-slides-two owl-carousel owl-theme">
            @foreach (var item in ViewBag.Review)
            {

                var avatar = "/Areas/Admin/Content/Images/" + item.User.Avatar;
                if (String.IsNullOrEmpty(item.User.Avatar))
                {
                    avatar = "https://ui-avatars.com/api/?name=" + item.User.Name;
                }


                <div class="clients-item">
                    <img src="@avatar" alt="image" style="height: 35px;">
                    <p>
                        ‘’@item.Comment.’’
                    </p>
                    <div class="title-name">
                        <h3>@item.User.Name</h3>
                        <span>@item.Service.Name</span>
                    </div>
                    <div class="star-rating">
                        <div class="rate" data-rate-value="@item.Rate" style="font-size: 35px;color: orange;"></div>
                    </div>
                    <div class="shape-1">
                        <img src="~/Content/assets/images/clients/shape-4.png"
                             alt="image">
                    </div>
                    <div class="shape-2">
                        <img src="~/Content/assets/images/clients/shape-5.png"
                             alt="image">
                    </div>
                    <div class="shape-3">
                        <img src="~/Content/assets/images/clients/shape-6.png"
                             alt="image">
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="clients-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/clients/shape-1.png" alt="image">
    </div>
    <div class="clients-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/clients/shape-2.png" alt="image">
    </div>
    <div class="clients-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/clients/shape-3.png" alt="image">
    </div>
</div>



<div class="blog-area pt-100 ">
    <div class="container">
        <div class="section-title">
            <h2>New Blog Post</h2>
            <p>
                We are try to Update with Latest Article and Blog Post
                Best Strategic Planning
            </p>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in ViewBag.Blogs)
            {
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })"><img src="~/Areas/Admin/Content/Images/@item.Image" alt="image" style="height:314px;"></a>
                    </div>
                    <div class="blog-content">
                        <ul class="entry-meta">
                            <li class="tag">@item.User.Name</li>
                            <li>
                                <i class="ri-time-line"></i>
                                @String.Format("{0:yyy/MM/dd hh:mm:ss}", item.CreatedDate)
                            </li>
                        </ul>
                        <h5 class="mt-1">
                            <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })">@item.Title</a>
                        </h5>
                        @{

                            string sortDecription = item.ShortDescription;

                            if (sortDecription != null && sortDecription.Length > 100) { sortDecription = sortDecription.Substring(0, 100) + "..."; }



                        }

                        <p>@sortDecription</p>
                        <a href="@Url.Action("BlogDetails","Blog",new { id=item.IdEncrypt })" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>
            }


        </div>
    </div>
    <div class="blog-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/blog/shape-1.png" alt="image">
    </div>
    <div class="blog-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/blog/shape-2.png" alt="image">
    </div>
</div>



<div class="partner-area ptb-100">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-1.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-2.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-3.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-4.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-5.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-1.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-2.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-3.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-4.png"
                         alt="image">
                </a>
            </div>
            <div class="single-partner">
                <a href="#">
                    <img src="~/Content/assets/images/partner/partner-5.png"
                         alt="image">
                </a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/rater.min.js"></script>
    <script>
        $(document).ready(function () {
            var options = {
                max_value: 5,
                step_size: 0.1,
            }
            $(".rate").rate(options);
        });
    </script>
}