﻿
@{
    ViewBag.Title = "Error";

    Layout = "~/Views/Shared/_LayoutPage2.cshtml";

}

<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Error</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Error</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="error-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img src="~/Content/assets/images/404.png" alt="error">
                    <h3>Error: The system is busy, please come back later</h3>
                    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                    <a href="@Url.Action("Index","Home")" class="default-btn">Go To Home <i class="ri-arrow-right-line"></i><span></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

