﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from designreset.com/cork/ltr/demo3/pages_maintenence.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2020 13:49:54 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Maintenence HTML Template | CORK - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="~/Areas/Admin/Content/assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/Areas/Admin/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/pages/error/style-maintanence.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

</head>
<body class="maintanence text-center">

    <div class="container-fluid maintanence-content">
        <div class="">
            <div class="maintanence-hero-img">
                <img alt="logo" src="~/Areas/Admin/Content/assets/img/logo.svg">
            </div>
            <h1 class="error-title">Under Maintenance</h1>
            <p class="error-text">Thank you for visiting us.</p>
            <p class="text">We are currently working on making some improvements <br /> to give you better user experience.</p>
            <p class="text">Please visit us again shortly.</p>
            <a href="~/Admin" class="btn btn-info mt-4">Home</a>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Areas/Admin/Content/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>

<!-- Mirrored from designreset.com/cork/ltr/demo3/pages_maintenence.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2020 13:49:56 GMT -->
</html>
