﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Areas/Admin/Content/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/bootstrap/css/toggle.css" rel="stylesheet" />

}
<div class="widget-content searchable-container list">

    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Enter search keywords" aria-label="Enter search keywords" id="input-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-search" type="button">Button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover mb-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Service</th>
                    <th>User</th>
                    <th>Number Rate</th>
                    <th>Title Comment</th>
                    <th>Display</th>
                </tr>
            </thead>

            <tbody class="list-new">
            </tbody>
        </table>
    </div>

    <div class="pagination-custom_outline">
        <ul class="pagination">
        </ul>
    </div>

</div>


@section scripts{
    <script src="~/Areas/Admin/Content/plugins/Pagination/pagination.min.js"></script>
    <script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/formatDate.js"></script>

    <script src="~/Areas/Admin/Content/Ajax/servicereview-ajax.js"></script>
}




