﻿

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{

    <link href="~/Areas/Admin/Content/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css" />

    <link href="~/Areas/Admin/Content/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/bootstrap/css/toggle.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/css/apps/invoice.css" rel="stylesheet" type="text/css" />

}
<div class="widget-content searchable-container list">

    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Enter search keywords" aria-label="Enter search keywords" id="input-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-search" type="button">Button</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
        </div>
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
            <div class="input-group mb-4">
                <select class="form-control" id="DepartmentId">
                   
                </select>
            </div>

            <!-- Modal -->

            <div class="modal fade modal-entity" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered  modal-lg " role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom:none;">

                            <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                     
                        </div>
                        <div class="modal-footer">


                            <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>

                            <button class="btn btn-outline-success btn-save" style="padding:10px 25px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover mb-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Employee Name</th>
                    <th>Client Name</th>
                    <th>Service Name</th>
                  
                   
                    <th>Start Date</th>
                    <th>End Date</th>
                  
                    <th>Action</th>
                </tr>
            </thead>

            <tbody class="list-order-service">
            </tbody>
        </table>

    </div>

    <div class="pagination-custom_outline">
        <ul class="pagination">
        </ul>
    </div>

</div>
<div class="modal fade modal-view" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;">

                <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body detail-client-service">



            </div>
            <div class="modal-footer">


                <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>


            </div>

        </div>
    </div>
</div>
@section scripts{

    <script src="~/Areas/Admin/Content/plugins/Pagination/pagination.min.js"></script>

    <script src="~/Areas/Admin/Content/plugins/flatpickr/flatpickr.js"></script>

    <script src="~/Areas/Admin/Content/assets/js/formatDate.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.NumberFormat,Intl.NumberFormat.~locale.en,Intl.PluralRules.~locale.en"></script>



    <script>
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',

            // These options are needed to round to whole numbers if that's what you want.
            //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
            //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
        });

        var pagination = {

            load: function (totalPage, currentPage, search) {
                $('.pagination').show();
                $('.pagination').twbsPagination({
                    totalPages: totalPage,
                    visiblePages: 10,
                    startPage: currentPage,

                    onPageClick: function (event, page) {

                        let search = $('#input-search').val();
                        ClientService.load(page, search);

                    }
                })
            }
        }
        ///

        //

        var ClientService = {

            GetAllAssignServiceEmployee: function (page, search) {

                $.ajax({
                    type: "GET",
                    url: "/Admin/ClientService/GetAllAssignServiceEmployee",
                    data: { DepartmentId: $('#DepartmentId').val(), page: page, search: search },
                    success: function (res) {
                        console.log(res)
                        let rows = ``;
                        let index = 0;
                        for (let item of res.data) {

                            index++;


                            let StartDate = moment(new Date(parseInt(item.ClientService.StartDate.split('Date(')[1].split(')/')[0]))).format('yyyy-MM-DD hh:mm:ss');
                            let EndDate = moment(new Date(parseInt(item.ClientService.EndDate.split('Date(')[1].split(')/')[0]))).format('yyyy-MM-DD hh:mm:ss');
                          


                            rows += ` <tr>
                                        <td>${index}</td>
                                        <td>${item.Employee.Name}</td>
                                        <td>${item.ClientService.User.Name}</td>
                                        <td>${item.ClientService.Service.Name}</td>
                                        <td>${StartDate}</td>
                                        <td>${EndDate}</td>
                                        <td class="text-center">

                                                    <button   class="btn btn-outline-primary btn-view"   data-id="${item.Id}" ><i class="far fa-eye"></i></button>
                                                    <button   class="btn btn-outline-danger btn-remove"   data-id="${item.Id}" ><i class="far fa-trash-alt"></i></button>

                                                </td>
                                    </tr>`




                        };


                        $('#input-search').val(res.search);
                        if (res.totalPage > 1) {

                            pagination.load(res.totalPage, res.page, res.search);
                        } else {
                            $('.pagination').hide();
                        }

                        $(".list-order-service").html(rows);

                    }

                })
            },
            
            finOneAssignServiceEmployee: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/ClientService/GetOneAssignServiceEmployee",
                    data: { Id: id },
                    success: function (res) {
                        console.log(res)
                        let StartDate = moment(new Date(parseInt(res.data.ClientService.StartDate.split('Date(')[1].split(')/')[0]))).format('yyyy-MM-DD hh:mm:ss');
                        let EndDate = moment(new Date(parseInt(res.data.ClientService.EndDate.split('Date(')[1].split(')/')[0]))).format('yyyy-MM-DD hh:mm:ss');
                        let birth = moment(new Date(parseInt(res.data.ClientService.User.BirthDay.split('Date(')[1].split(')/')[0]))).format('yyyy-MM-DD');
                        let change = formatter.format(res.data.ClientService.Service.Change)

                       
                        let detail = ` <div class="row">
                        <div class="col-md-6" style="text-align:left;">
                            <p class="badge outline-badge-success">Start Date: <b>${StartDate}</b></p>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <p class="badge outline-badge-danger">End Date:<b>${EndDate}</b> </p>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area rounded-pills-icon">

                        <ul class="nav nav-pills mb-4 mt-3  justify-content-center" id="rounded-pills-icon-tab" role="tablist">
                            <li class="nav-item ml-2 mr-2">
                                <a class="nav-link mb-2 active text-center" id="rounded-pills-icon-home-tab" data-toggle="pill" href="#rounded-pills-icon-home" role="tab" aria-controls="rounded-pills-icon-home" aria-selected="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> Client</a>
                            </li>
                            <li class="nav-item ml-2 mr-2">
                                <a class="nav-link mb-2 text-center" id="rounded-pills-icon-profile-tab" data-toggle="pill" href="#rounded-pills-icon-profile" role="tab" aria-controls="rounded-pills-icon-profile" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Service</a>
                            </li>
                            <li class="nav-item ml-2 mr-2">
                                <a class="nav-link mb-2 text-center" id="rounded-pills-icon-contact-tab" data-toggle="pill" href="#rounded-pills-icon-contact" role="tab" aria-controls="rounded-pills-icon-contact" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg> Employee</a>
                            </li>


                        </ul>
                        <div class="tab-content" id="rounded-pills-icon-tabContent">
                            <div class="tab-pane fade show active" id="rounded-pills-icon-home" role="tabpanel" aria-labelledby="rounded-pills-icon-home-tab">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        <img src="/Areas/Admin/Content/Images/${res.data.ClientService.User.Avatar}" width="100px" height="100px;" style="object-fit:cover" />
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <p>Name: <b>${res.data.ClientService.User.Name}</b></p>
                                        <p>Phone: <b>${res.data.ClientService.User.Phone}</b></p>
                                        <p>Email: <b>${res.data.ClientService.User.Email}</b></p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>Date of birth: <b>${birth}</b></p>
                                        <p>Gender: <b>${res.data.ClientService.User.Gender ? `Male` : `Female`}</b></p>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rounded-pills-icon-profile" role="tabpanel" aria-labelledby="rounded-pills-icon-profile-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>Name:</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <b>${res.data.ClientService.Service.Name}</b>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>Charges:</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <b>
                                            ${change}&nbsp; <i class=""
                                                              style="font-size: 10px;">/person/day</i>
                                        </b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>Short decription:</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <p>${res.data.ClientService.Service.ShortDescription}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="rounded-pills-icon-contact" role="tabpanel" aria-labelledby="rounded-pills-icon-contact-tab">
                                <div class="col-sm-6 col-md-6">
                                        <p>Name: <b>${res.data.Employee.Name}</b></p>
                                        <p>Phone: <b>${res.data.Employee.Phone}</b></p>
                                        <p>Email: <b>${res.data.Employee.Email}</b></p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                     
                                        <p>Department: <b>${res.data.Employee.Department.Name}</b></p>
                                       
                                    </div>
                            </div>

                        </div>
                    </div>`

                        $('.detail-client-service').html(detail)

                      

                    }
                })
            }, delete: function (Id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/ClientService/DeleteAssignServiceEmployee",
                    data: { Id: Id },
                    success: function (res) {
                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        })
                        ClientService.GetAllAssignServiceEmployee()
                    }
                })
            }
        }
        var Department = {
            getAll: function () {
                $.ajax({
                    type: "GET",
                    url: "/Admin/Department/FindAll",
                    success: function (res) {
                        let option = ``;
                        for (let item of res.data) {
                            option += `<option value="${item.Id}">${item.Name}</option>`
                        }

                        $('#DepartmentId').html(option)

                    }
                }).done(function () {
                    ClientService.GetAllAssignServiceEmployee();
                })
            }
        }
   
    </script>
    <script>
        Department.getAll();
        
        
        //search
        $('.btn-search').click(function () {

            $('.pagination').removeData("twbs-pagination");
            let search = $('#input-search').val()
            ClientService.load(1, search);

        });
        $(".btn-save").click(function () {
            let EmployeeIds = $("#EmployeeIds").val();
            if (EmployeeIds.length === 0) {
                swal({
                    title: "You not select the employee",
                    text: "You clicked the!",
                    type: "warning",
                    padding: '2em'
                })
            } else {
                ClientService.grant($('#Id').val(), EmployeeIds)
            }


        });



        //delete User
        $(document).on('click', '.btn-remove', function () {
            let Id = $(this).attr("data-id")
            swal({
                title: 'Are you sure?',
                text: "Delete this Record",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Comfirm',
                padding: '2em'
            }).then(function (result) {
                if (result.value) {

                    ClientService.delete(Id)
                }
            })


        });
        $('.modal-entity').on('hidden.bs.modal', function () {

        })

       
        $(document).on('change', '#DepartmentId', function () {
            ClientService.GetAllAssignServiceEmployee()
        })

       
        $(document).on('click', '.btn-view', function () {
            let Id = $(this).attr("data-Id");
            

            ClientService.finOneAssignServiceEmployee(Id)
            $('.modal-view').modal("show");


        });
    </script>
}