﻿

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{

    <link href="~/Areas/Admin/Content/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css" />

    <link href="~/Areas/Admin/Content/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/bootstrap/css/toggle.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/css/apps/invoice.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/components/tabs-accordian/custom-tabs.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/forms/switches.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/forms/theme-checkbox-radio.css">
}

<div class="widget-content searchable-container list">

    <div class="row">

        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
            <!-- Modal -->

            <div class="modal fade modal-entity" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered  modal-lg " role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom:none;">

                            <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                            <div class="add-contact-box">
                                <div class="add-contact-content">
                                    <form id="form-validate">
                                        <input type="hidden" id="Id" />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group text-left">
                                                    <select name="DepartmentId" id="DepartmentId" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group text-left">
                                                    <select name="EmployeeIds" id="EmployeeIds" class="form-control employee" multiple="multiple">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align:center">
                                <h4 class="badge outline-badge-primary">List of employee </h4>


                                <div class="table-responsive mb-4 mt-4">
                                    <table class="table table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>

                                                <th>Employee Number</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Department</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list-employee">
                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">


                            <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>

                            <button class="btn btn-outline-success btn-save" style="padding:10px 25px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive mb-4"> 
        <button class="btn btn-outline-success btn-export" style="margin-left:15px;"><img src="~/Areas/Admin/Content/Icon/1379793_document_excel_file_spreadsheet_table_icon.png"  width="36"/></button>
        
        <table id="alter_pagination" class="table table-hover" style="width:100%" border="1">
            <thead style="text-align:center;">
                <tr>
                    <th>#</th>
                    <th>Client</th>
                    <th>Service</th>

                    <th>Employee</th>
                    <th>Expiration Date</th>
                    <th>Expired</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody class="list-order-service">
            </tbody>

        </table>
    </div>


</div>
<!-- Modal -->

<div class="modal fade modal-view" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;">

                <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body detail-client-service">



            </div>
            <div class="modal-footer">


                <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>


            </div>

        </div>
    </div>
</div>

@section scripts{

    <script src="~/Areas/Admin/Content/plugins/Pagination/pagination.min.js"></script>

    <script src="~/Areas/Admin/Content/plugins/flatpickr/flatpickr.js"></script>

    <script src="~/Areas/Admin/Content/assets/js/formatDate.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.NumberFormat,Intl.NumberFormat.~locale.en,Intl.PluralRules.~locale.en"></script>

    <script src="~/Areas/Admin/Content/plugins/table/datatable/datatables.js"></script>
    <script src="~/Areas/Admin/Content/Ajax/clientservice-ajax.js"></script>
}
