﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section css{


}
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Login | Register</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Login | Register</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact-address contact-form">
                    <h3>Login</h3>
                    <form id="login-form">


                        <div class="col-lg-12 col-md-12">
                            <div class="form-group " style="text-align:left;">
                                <input type="email" name="Email" id="Email"
                                       class="form-control  " required
                                       placeholder="Email*">

                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group" style="text-align:left;">
                                <input type="password" name="Password"
                                       id="Password" required
                                       class="form-control "
                                       placeholder="Password">

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group" style="text-align:right;">
                                <a href="@Url.Action("PasswordRecovery","User")">Forgot password?</a>

                            </div>
                        </div>


                        <div class="col-lg-12 col-md-12" style="text-align:left;">
                            <button type="submit" class="default-btn" id="btn_save">
                                Login <i class="ri-arrow-right-line"></i><span></span>
                            </button>

                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-address contact-form">
                    <h3>Create Account</h3>
                    <form id="register-form">

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group" style="text-align:left;">
                                <input type="text" name="Name" id="name"
                                       class="form-control " required
                                       placeholder="Name*">

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group " style="text-align:left;">
                                <input type="email" name="Email" id="Email"
                                       class="form-control  " required
                                       placeholder="Email*">

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group" style="text-align:left;">
                                <input type="text" name="Phone"
                                       id="Phone" required
                                       class="form-control "
                                       placeholder="Phone*">

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group" style="text-align:left;">
                                <input type="password" name="Password"
                                       id="RePassword"
                                       class="form-control "
                                       placeholder="Password*">

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group" style="text-align:left;">
                                <input type="password" name="ConfirmPassword"
                                       id="ConfirmPassword" required
                                       class="form-control "
                                       placeholder="Confirm password*">

                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12" style="text-align:left;">
                            <button type="submit" class="default-btn" id="btn_save">
                                Register <i class="ri-arrow-right-line"></i><span></span>
                            </button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>

    <script src="~/Content/assets/Ajax/ajax-login.js"></script>
}

