﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section css{


}
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Login</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Login</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="contact-area ptb-100">
    <div class="container">
        <div class="row">
        
            
                <div class="contact-form">
                    <h3>Enter your email</h3>
                    <form id="form-recovery">


                        <div class="col-lg-12 col-md-12">
                            <div class="form-group " style="text-align:left;">
                                <input type="email" name="email" id="email"
                                       class="form-control tick " required
                                       placeholder="Email*">

                            </div>
                        </div>

                        

                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="default-btn" id="btn_save">
                                Recovery <i class="ri-arrow-right-line"></i><span></span>
                            </button>
                            <div id="msgSubmit" class="h3 text-center
                                    hidden"></div>
                            <div class="clearfix"></div>
                        </div>

                    </form>
                </div>
       
        </div>
    </div>
</div>


<div class="contact-info-area pb-100">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>
    <script>

        var validate = $('#form-recovery').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            }
        });
        $('#form-recovery').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "PUT",
                url: "/User/PasswordRecovery",
                data: { email: $('#email').val() },
                success: function (res) {
                    if (!res.errors) {
                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        })
                    } else {
                        validate.showErrors(res.errors)
                    }
                }
            })
        })
    </script>
}

