﻿@model ExcellOn.DAL.User
@{

    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section css{
    <link href="~/Content/assets/css/profile.css" rel="stylesheet" />
}


<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Profile</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Profile</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>
<div class="body-profile">
    <div class="container content-profile">
        <div class="row">
            <div class="col-md-3">
                @{

                    var avatar = "/Areas/Admin/Content/Images/" + Model.Avatar;

                    if (String.IsNullOrEmpty(Model.Avatar))
                    {

                        avatar = "https://ui-avatars.com/api/?name=" + Model.Name;
                    }
                }
                <div class="cr">
                    <div class="row header">
                        <div class="col-md-12 title-left">
                            <img src="@avatar" alt="" />
                            <div class="text-name">
                                <div class="name">@Model.Name</div>
                                <a href="@Url.Action("Profiles","User",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                    <div class="item-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </div>
                                    <div>
                                        Edit Profile
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row form-menu">
                        <div class="col-md-12">
                            <a href="@Url.Action("Profiles","User",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>My Profile</span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index","FavoriteService",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        Favorite Service
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("ShoppingList", "Order",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        Shopping list
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index", "ProductClient",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-check" viewBox="0 0 16 16">
                                        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                                        <path d="M15.854 10.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.707 0l-1.5-1.5a.5.5 0 0 1 .707-.708l1.146 1.147 2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        My Product
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Index", "ClientService",new { Email=ExcellOn.PL.Areas.Admin.Helper.Encrypt.EncryptString(Model.Email)})" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        My Service
                                    </span>
                                </div>
                            </a>
                            <a href="@Url.Action("Logout", "User")" class="item">
                                <div class="item-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                    </svg>
                                </div>
                                <div>
                                    <span>
                                        Logout
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 content-profile-right">
                <div class="pr">
                    <div class="row header">
                        <div class="col-md-12 title-header">
                            <h1>My Profile</h1>
                            <p>
                                Manage profile information for account security
                            </p>
                        </div>
                    </div>
                    <form method="post" id="general-info">
                        <div class="row form-infor">
                            <div class="col-md-8 information">
                                <div class="form-header">
                                    <h1>Information</h1>
                                </div>


                                <div class="form-group row">
                                    <label for="Name" class="col-sm-3 col-form-label txt">Full Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Name" placeholder="Name*" name="Name" value="@Model.Name">
                                    </div>
                                </div>
                                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                                <div class="form-group row">
                                    <label for="Phone" class="col-sm-3 col-form-label txt">Phone</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Phone" placeholder="Phone number*" name="Phone" value="@Model.Phone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Address" class="col-sm-3 col-form-label txt">Address</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Address" placeholder="Address*" name="Address" value="@Model.Address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Birthday" class="col-sm-3 col-form-label txt">Birthday</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="BirthDay" placeholder="Birthday*" value="@String.Format("{0:yyyy-MM-dd}", Model.BirthDay)" name="Birthday">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Gender" class="col-sm-3 col-form-label txt">Gender</label>
                                    <div class="col-sm-9 ra-cus">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Gender" id="Gender" value="1" @{var Male = Model.Gender ? "checked" : "";} @Male>
                                            <label class="form-check-label" for="inlineRadio1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Gender" id="Gender" value="0" @{var Female = Model.Gender ? "" : "checked";} @Female>
                                            <label class="form-check-label" for="inlineRadio2">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-save">
                                    <button type="submit" class="default-btn" id="btn_submit">
                                        Save<i class="ri-arrow-right-line"></i><span></span>
                                    </button>
                                    <div id="msgSubmit" class="h3 text-center
                                    hidden"></div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="col-md-4 information change-img">
                                <div class="form-header">
                                    <h1>Avatar</h1>
                                </div>

                                <div class="avatar-wrapper">
                                    <img class="profile-pic" src="@avatar" />
                                    <div class="upload-button">
                                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                    </div>
                                    <input class="file-upload" type="file" accept="image/*" id="PostedFileBase" />
                                </div>


                            </div>
                        </div>
                    </form>
                    <div class="row form-infor">
                        <div class="col-md-8">
                            <div class="form-header" style=" border-bottom: .0625rem solid #efefef; padding: 1.125rem 0;">
                                <h1>Change Password</h1>
                                <p style="margin-top: .1875rem; font-size: .875rem; line-height: 1.0625rem; color: #555;">For account security, please do not share your password with others</p>
                            </div>
                            <div style="padding-top: 1.5625rem">
                                <form id="form-validate-password" method="post">
                                    <div class="form-group row">
                                        <label for="Password" class="col-sm-3 col-form-label txt">Current password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="Password" placeholder="New Password*" name="Password">
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="Password" class="col-sm-3 col-form-label txt">New Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="NewPassword" placeholder="New Password*" name="NewPassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ConfirmPassword" class="col-sm-3 col-form-label txt">Confirm Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="ComfirmPassword" placeholder="Confirm Password*" name="ComfirmPassword">
                                        </div>
                                    </div>
                                    <div class="btn-save">
                                        <button type="submit" class="default-btn btn-save-pass">
                                            Save<i class="ri-arrow-right-line"></i><span></span>
                                        </button>
                                        <div id="msgSubmit" class="h3 text-center
                                    hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div style="padding-top: 7.5625rem">
                                <a href="@Url.Action("PasswordRecovery","User")">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>

    <script src="~/Content/assets/Ajax/ajax-profile.js"></script>
}