﻿
@{
    ViewBag.Title = "Recovery";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section css{


}
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Recovery Password</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Update Password</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="contact-area ptb-100">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="~/Areas/Admin/Content/Images/blog-1.jpg" />
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <h3>Enter your new password</h3>
                    @if (ViewBag.Message != null)
                    {

                        <div id="AlertBox" class="alert alert-danger hide" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                    <form id="form-recovery" method="post">
                        <input type="hidden" value="@ViewBag.email" name="email" id="email" />

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group " style="text-align:left;">
                                <input type="password" name="Password" id="Password"
                                       class="form-control tick " required
                                       placeholder="password*">

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group " style="text-align:left;">
                                <input type="password" name="ConfirmPassword" id="ConfirmPassword"
                                       class="form-control tick " required
                                       placeholder="ConfirmPassword*">

                            </div>
                        </div>



                        <div class="col-lg-12 col-md-12" style="text-align:left;">
                            <button type="submit" class="default-btn" id="btn_save">
                                Recovery <i class="ri-arrow-right-line"></i><span></span>
                            </button>
                            <div id="msgSubmit" class="h3 text-center
                                    hidden"></div>
                            <div class="clearfix"></div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="contact-info-area pb-100">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>
    $(function () {
    $('#AlertBox').removeClass('hide');
    $('#AlertBox').delay(2000).slideUp(500);
    });
    <script>
        var validator = $("#form-recovery").validate({
            rules: {
                Password: {
                    required: true,
                    minlength: 8,
                },
                ConfirmPassword: {
                    required: true,
                    minlength: 8,
                    equalTo: "#Password"
                }
            }

        });
    </script>
}

