﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

@section css{
   

}
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Register</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Register</li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="contact-area ptb-100">
    <div class="container">
        <div class="contact-form">
            <h3>Sign up for a new account</h3>
            <form id="register-form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group" style="text-align:left;">
                            <input type="text" name="Name" id="name"
                                   class="form-control tick" required
                                   placeholder="Name*">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group " style="text-align:left;">
                            <input type="email" name="Email" id="Email"
                                   class="form-control tick " required
                                   placeholder="Email*">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group" style="text-align:left;">
                            <input type="text" name="Phone"
                                   id="Phone" required
                                   class="form-control tick"
                                   placeholder="Phone">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group" style="text-align:left;">
                            <input type="password" name="Password"
                                   id="Password" required
                                   class="form-control tick"
                                   placeholder="Password">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group" style="text-align:left;">
                            <input type="password" name="ConfirmPassword"
                                   id="ConfirmPassword" required
                                   class="form-control tick"
                                   placeholder="Confirm password">

                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn" id="btn_save">
                            Register <i class="ri-arrow-right-line"></i><span></span>
                        </button>
                        <div id="msgSubmit" class="h3 text-center
                                    hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="contact-info-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="contact-address">
                    <h3>Contact Address:</h3>
                    <p>
                        The IT industry offers a sea of options, from
                        platforms, programming languages, methodologies,
                        technologies, tools, and more.
                    </p>
                    <ul class="address-info">
                        <li>
                            <i class="ri-customer-service-line"></i>
                            <a href="tel:3128959800">(312) 895-9800</a>
                        </li>
                        <li>
                            <i class="ri-global-line"></i>
                            <a href="javascript:void(0)">
                                <span class="__cf_email__"
                                      data-cfemail="39515c55555617545c794955565d175a5654">[email&#160;protected]</span>
                            </a>
                        </li>
                        <li>
                            <i class="ri-map-pin-line"></i>
                            121 St, Melbourne VIC 3000, Australia
                        </li>
                    </ul>
                    <ul class="address-social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-facebook-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="ri-messenger-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>
    <script>
        jQuery.validator.addMethod("phone", function (phone_number, element) {
            phone_number = phone_number.replace(/\s+/g, "");
            return this.optional(element) || phone_number.length > 9 &&
                phone_number.match(/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/gm);
        }, "Phone number is not valid");

        var validator = $("#register-form").validate({
            rules: {
                Password: {
                    required: true,
                    minlength: 8,
                },
                Name: "required",
                Email: {
                    required: true,
                    email: true
                },

                Phone: {
                    required: true,
                    phone: true
                },
                ConfirmPassword: {
                    required: true,
                    minlength: 8,
                    equalTo: "#Password"
                }
            }

        });


    </script>
    <script>
        $('#form-login').submit(function (e) {

            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/User/Login",
                data: $(this).serialize(),
                success: function (res) {
                    if (res.type == "success") {
                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        }).then(function (res) {

                            location.reload();
                        })
                    } else {
                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        })
                    }
                }
            })
        })
    </script>
}

