﻿@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from designreset.com/cork/ltr/demo3/auth_login_boxed.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2020 13:49:56 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="~/Areas/Admin/Content/assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/Areas/Admin/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/forms/switches.css">

    <link  type="text/css" href="~/Areas/Admin/Content/bootstrap/css/style.css" rel="stylesheet" />
    <style>
        .alert-danger {
            color: #fff;
            background-color: #e7515a;
            border-color: #e7515a;
        }
    </style>
</head>
<body class="form">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Sign In</h1>
                        <p class="">Log in to your account to continue.</p>
                            @if (ViewBag.Message != null)
                            {

                                <div id="AlertBox" class="alert alert-danger hide" role="alert">
                                    @ViewBag.Message
                                </div>
                            }
                            <form class="text-left" id="form-login"  method="post">
                                <div class="form">

                                    <div id="username-field" class="field-wrapper input">
                                        <label for="username">EMAIL</label>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <input id="Email" name="Email" type="text" class="form-control tick" placeholder="Email" required>

                                    </div>

                                    <div id="password-field" class="field-wrapper input mb-2">
                                        <div class="d-flex justify-content-between">
                                            <label for="password">PASSWORD</label>
                                            <a href="@Url.Action("PasswordRecovery","User")" class="forgot-pass-link">Forgot Password?</a>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                        <input id="Password" name="Password" type="password" class="form-control" placeholder="Password">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </div>
                                    <div class="d-sm-flex justify-content-between">
                                        <div class="field-wrapper">
                                            <button type="submit" class="btn btn-outline-primary " value="">Log In</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Areas/Admin/Content/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Areas/Admin/Content/assets/js/authentication/form-2.js"></script>
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });
        $("#form-login").validate({
            rules: {
                Password: "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Password: "Please specify your password",
                Email: {
                    required: "We need your email address to contact you",
                    email: "Your email address must be in the format of name@domain.com"
                }
            }
        });
    </script>

</body>

<!-- Mirrored from designreset.com/cork/ltr/demo3/auth_login_boxed.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2020 13:49:57 GMT -->
</html>