﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from designreset.com/cork/ltr/demo3/auth_pass_recovery.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2020 13:49:58 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Password Recovery Cover | CORK - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="~/Areas/Admin/Content/assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="~/Areas/Admin/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/authentication/form-1.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/assets/css/forms/switches.css">
    <link href="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
    <style>
        .error {
            color: #dc3545;
        }
    </style>
</head>
<body class="form">


    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Password Recovery</h1>
                        <p class="signup-link">Enter your email and instructions will sent to you!</p>
                        <form class="text-left" id="form-recovery">
                            <div class="form">

                                <div id="email-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                    <input id="email" name="email" type="text" value="" placeholder="Email">
                                </div>
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-outline-primary" value="">Reset</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <p class="terms-conditions">© 2019 All Rights Reserved. <a href="@Url.Action("Index","Home")">Excell On</a> is a product of Designreset. <a href="javascript:void(0);">Cookie Preferences</a>, <a href="javascript:void(0);">Privacy</a>, and <a href="javascript:void(0);">Terms</a>.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Areas/Admin/Content/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Areas/Admin/Content/bootstrap/js/bootstrap.min.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Areas/Admin/Content/assets/js/authentication/form-1.js"></script>

    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>
    <script src="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="~/Areas/Admin/Content/plugins/sweetalerts/custom-sweetalert.js"></script>
    <script>
        var validate = $('#form-recovery').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            }
        });
        $('#form-recovery').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "PUT",
                url: "/Admin/User/PasswordRecovery",
                data: { email: $('#email').val()},
                success: function (res) {
                    if (!res.errors) {
                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        })
                    } else {
                        validate.showErrors(res.errors)
                    }
                }
            })
        })
    </script>
</body>

<!-- Mirrored from designreset.com/cork/ltr/demo3/auth_pass_recovery_boxed.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Jul 2020 13:49:58 GMT -->
</html>
