﻿@{
    var user = (ExcellOn.DAL.User)@Session["user"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Areas/Admin/Content/assets/css/users/account-setting.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/plugins/dropify/dropify.min.css">
    <link href="~/Areas/Admin/Content/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
}
<div class="account-settings-container layout-top-spacing">
    
    <div class="account-content">
    

        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">

                    <form id="general-info" class="section general-info">
                        <div class="info">
                            <h6 class="">General Information</h6>
                            
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        @{

                                            var avatar = "/Areas/Admin/Content/Images/" + user.Avatar;

                                            if (String.IsNullOrEmpty(user.Avatar))
                                            {

                                                avatar = "https://ui-avatars.com/api/?name=" + user.Name;
                                            }
                                        }
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="PostedFileBase" class="dropify" data-default-file="@avatar" accept="image/*" name="PostedFileBase" />
                                                <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Picture</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="fullName">Full Name</label>
                                                            <input type="text" class="form-control tick " id="Name" placeholder="Full Name" name="Name" value="@user.Name">
                                                            <input type="hidden" class="form-control tick " id="Id" placeholder="Full Name" name="Id" value="@user.Id">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label class="dob-input">Date of Birth</label>
                                                        <input id="BirthDay" class="form-control  flatpickr flatpickr-input active" type="text" placeholder="Select Date.." name="BirthDay" required value="@String.Format("{0:yyyy-MM-dd}",user.BirthDay)">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="profession">Phone</label>
                                                    <input type="text" class="form-control tick " id="Phone" placeholder="Phone" name="Phone" value="@user.Phone">
                                                </div>
                                                <div class="form-group">
                                                    <label for="profession">Address</label>
                                                    <input type="text" class="form-control tick" id="Address" placeholder="Address" name="Address" value="@user.Address">
                                                </div>
                                                <div class="field-wrapper">
                                                    <button type="submit" class="btn btn-outline-success" value="">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Content/plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="~/Areas/Admin/Content/plugins/sweetalerts/custom-sweetalert.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/users/account-settings.js"></script>
    <script src="~/Areas/Admin/Content/plugins/dropify/dropify.min.js"></script>
    <script src="~/Areas/Admin/Content/plugins/blockui/jquery.blockUI.min.js"></script>

    <script src="~/Areas/Admin/Content/bootstrap/js/validate.min.js"></script>

    <script src="~/Areas/Admin/Content/plugins/flatpickr/flatpickr.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/formatDate.js"></script>
    <script>
        ; (function () {
            flatpickr($('#BirthDay'))

        })()
        jQuery.validator.addMethod("phone", function (phone_number, element) {
            phone_number = phone_number.replace(/\s+/g, "");
            return this.optional(element) || phone_number.length > 9 &&
                phone_number.match(/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/gm);
        }, "Phone number is not valid");

        var validator = $("#general-info").validate({
            rules: {
                Name: "required",

                Phone: {
                    required: true,
                    phone: true
                },
                Address: "required",
                BirthDay: "required",

            },
            messages: {
                Name: "The Name field is required.",
                Address: "The Name field is required.",
                BirthDay: "The BirthDay field is required.",

                Phone: {
                    required: "The Phone field is required.",


                }
            }
        });
        $('#general-info').submit(function (e) {
            e.preventDefault();
            //formdata = formdata.replace("id=&", '');
            let formdata = new FormData();
            formdata.append("Id", $('#Id').val())
            formdata.append("Name", $('#Name').val())

            formdata.append("BirthDay", $('#BirthDay').val())
            formdata.append("Phone", $('#Phone').val())
            formdata.append("Address", $('#Address').val())
        
          
          
            
            formdata.append("PostedFileBase", $('#PostedFileBase')[0].files[0] || new Blob())
            $.ajax({
                type: "PUT",
                url: "/Admin/User/Profiles",
                data: formdata,
                contentType: false,
                processData: false,
                success: function (res) {
                    console.log(res);
                    if (!res.errors) {
                        swal({
                            title: res.message,
                            text: "You clicked the!",
                            type: res.type,
                            padding: '2em'
                        }).then(function (res) {

                            location.reload();
                        })
                        validator.resetForm();

                    } else {
                        validator.showErrors(res.errors);
                    }
                }
            })
        })
    </script>
}