﻿@model IEnumerable<ExcellOn.DAL.ProductClient>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Areas/Admin/Content/assets/css/apps/contacts.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Content/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css" />

}
<div class="widget-content searchable-container list">

    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Enter search keywords" aria-label="Enter search keywords" id="input-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-search" type="button">Button</button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover mb-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>User Name</th>
                    
                    <th>Action</th>
                </tr>
            </thead>

            <tbody class="list-postcategory">
                @foreach (var item in Model)
                {
                    int i = 1;
                    <tr>
                        <td>@i</td>
                        <td>@item.Name</td>
                        <td><img src="~/Areas/Admin/Content/Images/@item.Image" width="100" height="100" /></td>
                        <td>@item.Price</td>
                        <td>@item.Unit</td>
                        <td>@item.User.Name</td>
                       

                        <td class="text-center">
                            <button class="btn btn-outline-primary btn-edit " data-id="@item.Id"><i class="far fa-eye"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="pagination-custom_outline">
        <ul class="pagination">
        </ul>
    </div>
    <div class="modal fade slideInUp custo-slideInUp modal-entity" id="modal-depart" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none;">

                    <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                    <div class="add-contact-box">
                        <div class="add-contact-content">
                            <div>
                                <h5>Description</h5>
                                <p id="Des"></p>
                            </div>
                            <div class="mt-10">
                                <h5>PromotionInformation</h5>
                                <p id="PromotionInformation"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.btn-edit').click(function () {
            $('.modal-entity').modal("show");
            var id = $(this).data('id');
            $.ajax({
                type: "GET",
                url: "/Admin/ProductClient/GetOne",
                data: { IdEncrypt: id },
                success: function (res) {
                    $('#Des').html('<p>' + res.data.Description + '</p>')
                    $('#PromotionInformation').html('<p>' + res.data.PromotionInformation + '</p>');
                }
            });
        });
    </script>

}