﻿
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
    @RenderSection("css", required: false)

    <link href="~/Content/assets/css/styleLayout2.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/assets/images/favicon.png">
    @Styles.Render("~/Content/assets/css")

</head>

<body>
    <div id="fb-root"></div>


    @{
        Html.RenderAction("_Header2", "Home");
    }

    <div>
        @RenderBody()
    </div>
    @{
        Html.RenderAction("Footer", "Home");
    }
    <div class="go-top">
        <i class="ri-arrow-up-s-line"></i>
    </div>

    @Scripts.Render("~/Content/assets/js")
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.NumberFormat,Intl.NumberFormat.~locale.en,Intl.PluralRules.~locale.en"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=823278448359121&autoLogAppEvents=1" nonce="wqR4mWt0"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
