﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">


    <link href="~/Content/assets/css/styleLayout1.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/assets/images/favicon.png">
 
    @Styles.Render("~/Content/assets/css")

    @RenderSection("css", required: false)
</head>
<body>

    @{
        Html.RenderAction("Header", "Home");
    }
    <div>
        @RenderBody()
    </div>
    @{
        Html.RenderAction("Footer", "Home");
    }
    <div class="go-top">
        <i class="ri-arrow-up-s-line"></i>
    </div>



    @Scripts.Render("~/Content/assets/js")

    <script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.NumberFormat,Intl.NumberFormat.~locale.en,Intl.PluralRules.~locale.en"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
