﻿

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{

    <link href="~/Areas/Admin/Content/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css" />

}
<div class="widget-content searchable-container list">

    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search  align-self-center">
            <div class="input-group mb-4">
                <input type="text" class="form-control" placeholder="Enter search keywords" aria-label="Enter search keywords" id="input-search">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-search" type="button">Button</button>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-center layout-spacing align-self-center">
            <div class="d-flex justify-content-sm-end justify-content-center">
                <button class="btn btn-outline-success btn-add">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>

                </button>
            </div>

            <!-- Modal -->

            <div class="modal modal-entity fade slideInUp custo-slideInUp" id="modal-depart" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg " role="document">

                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom:none;">

                            <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                            <div class="add-contact-box">
                                <div class="add-contact-content">
                                    <form id="form-validate">

                                        <input type="hidden" id="Id" class="form-control" placeholder="Location" name="Id">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group  text-left">

                                                    <input type="text" id="Name" class="form-control tick" placeholder="Name" name="Name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group text-left">

                                                    <input type="text" id="Description" class="form-control tick" placeholder="Description" name="Description" required>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">


                            <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>

                            <button class="btn btn-outline-success btn-save" style="padding:10px 25px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
      
    <d  </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <button class="btn btn-outline-success btn-export mr-4"><img src="~/Areas/Admin/Content/Icon/1379793_document_excel_file_spreadsheet_table_icon.png" width="36" /></button>
            <button class="btn btn-outline-success btn-import" style="margin-right:0px;"><img src="~/Areas/Admin/Content/Icon/2993694_brand_brands_excel_logo_logos_icon.png" width="36" /></button>
        </div>

    </div>iv class="table-responsive">


        <table class="table table-bordered table-hover mb-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Department Code</th>
                    <th>Name</th>
                    <th>Description</th>

                    <th>Action</th>
                </tr>
            </thead>

            <tbody class="list-department">
            </tbody>
        </table>
    </div>

    <div class="pagination-custom_outline">
        <ul class="pagination">
        </ul>
    </div>

</div>
<div class="modal modal-import fade slideInUp custo-slideInUp" id="modal-depart" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">

        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none;">

                <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="flaticon-cancel-12 close" data-dismiss="modal"></i>
                <div class="add-contact-box">
                    <div class="add-contact-content">
                        <form id="form-import">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  text-left">

                                        <input type="file" id="ImportFile" class="form-control tick" name="ImportFile" required accept=".xlsx, .xls, .csv">
                                    </div>
                                </div>
                            </div>
                        
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">


                <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>

                <button class="btn btn-outline-success btn-save-import" style="padding:10px 25px;">Save</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Admin/Content/assets/js/apps/contact.js"></script>
    <script src="~/Areas/Admin/Content/plugins/Pagination/pagination.min.js"></script>

    <script src="~/Areas/Admin/Content/Ajax/department-ajax.js"></script>

}