﻿@model IEnumerable<ExcellOn.DAL.Service>
@{
    ViewBag.Title = "Service ";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Services </h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Services </li>
            </ul>
        </div>
    </div>
    <div class="page-banner-shape-1" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-1.png" alt="image">
    </div>
    <div class="page-banner-shape-2" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-2.png" alt="image">
    </div>
    <div class="page-banner-shape-3" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-3.png" alt="image">
    </div>
    <div class="page-banner-shape-4" data-speed="0.08"
         data-revert="true">
        <img src="~/Content/assets/images/page-banner/shape-4.png" alt="image">
    </div>
</div>


<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
            <div class="col-lg-4 col-md-6">
                
                <div class="single-services-item">
                    <div class="icon bg-FF6D3D">
                        <i class="ri-customer-service-2-line"></i>
                    </div>
                    <h4>
                        
                        <a href="@Url.Action("ServiceDetail","Service",new { id= item.IdEncrypt})"> @item.Name</a>

                    </h4>
                    <p class="short-decription">

                        @{

                            string sortDecription = item.ShortDescription;

                            if (sortDecription != null && sortDecription.Length > 200) { sortDecription = sortDecription.Substring(0, 200) +"..."; }



                        }
                        @sortDecription
                    </p>
                    <a href="@Url.Action("ServiceDetail","Service",new { id= item.IdEncrypt})" class="btn services-btn">
                       
                        Read More <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>
            }


        </div>
    </div>
    <div class="services-shape-1" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-1.png" alt="image">
    </div>
    <div class="services-shape-2" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-2.png" alt="image">
    </div>
    <div class="services-shape-3" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-3.png" alt="image">
    </div>
    <div class="services-shape-4" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-4.png" alt="image">
    </div>
    <div class="services-shape-5" data-speed="0.06" data-revert="true">
        <img src="~/Content/assets/images/services/shape-5.png" alt="image">
    </div>
</div>


<div class="process-area pb-100">
    <div class="container">
        <div class="process-inner-box">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-process">
                        <i class="ri-hard-drive-line"></i>
                        <p>Research</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-process bg-36CC72">
                        <i class="ri-pie-chart-line"></i>
                        <p>Analyze</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-process bg-FF414B">
                        <i class="ri-quill-pen-line"></i>
                        <p>Design</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-process bg-FF6D3D">
                        <i class="ri-focus-line"></i>
                        <p>Testing</p>
                    </div>
                </div>
            </div>
            <div class="process-bar-shape">
                <img src="~/Content/assets/images/process-bar.png" alt="image">
            </div>
        </div>
    </div>
</div>


<div class="support-area">
    <div class="container">
        <div class="support-content">
            <div class="tag">
                <img src="~/Content/assets/images/experiences/tag-icon.png"
                     alt="image">
            </div>
            <h3>Lightning-Fast Tech Support, Guaranteed</h3>
            <p>
                As a midsize software development company, we combine the
                best of both worlds. We have the focus and speed of the
                small IT outsourcing companies along with the
                scalability and expertise of the big ones.
            </p>
            <span>Regan Rosen, CEO at Flod Agency</span>
        </div>
    </div>
    <div class="support-shape-1" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-1.png" alt="image">
    </div>
    <div class="support-shape-2" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-2.png" alt="image">
    </div>
    <div class="support-shape-3" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-3.png" alt="image">
    </div>
    <div class="support-shape-4" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-4.png" alt="image">
    </div>
    <div class="support-shape-5" data-speed="0.08" data-revert="true">
        <img src="~/Content/assets/images/support/shape-5.png" alt="image">
    </div>
    <div class="support-shape-6" data-speed="0.02" data-revert="true">
        <img src="~/Content/assets/images/support/shape-6.png" alt="image">
    </div>
</div>


