﻿.body-profile {
    background-color: #f5f5f5;
}

.content-profile {
    padding: 1.25rem 0 3.125rem;
}

.header {
    border-bottom: .0625rem solid #efefef;
    padding: 1.125rem 0;
}

.title-header {
    height: 50px;
}

.content-profile-right {
    background-color: #ffff;
}

.title-left {
    display: flex;
    height: 50px;
}

    .title-left div a {
        color: #888;
        text-transform: capitalize;
        text-decoration: none;
    }

    .title-left img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

.text-name {
    padding-left: 15px;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.change-img {
    border-left: .0625rem solid #efefef;
}

.header h1 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}

.header p {
    margin-top: .1875rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #555;
}

.pr {
    padding: 0 30px 10px;
}

.cr {
    padding: 0 30px 10px;
}

.form-infor {
    padding-top: 1.875rem;
}

.form-menu {
    padding-top: 1.875rem;
}

.item {
    text-decoration: none;
    color: rgba(0,0,0,.8);
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .9375rem;
}

.item-icon {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: .625rem;
}

.form-header h1 {
    margin-bottom: 10px !important;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}

.txt {
    text-align: right;
    color: rgba(85,85,85,.8);
    text-transform: capitalize;
    overflow: hidden;
    font-size: .875rem !important;
}

.form-group {
    margin-bottom: 1.875rem;
}

.ra-cus {
    padding-top: 8px;
}

.change-btn {
    background-color: #FF414B;
    color: #ffffff;
    padding: 12px 50px 12px 25px;
    text-align: center;
}

    .change-btn:hover {
        color: #ffffff;
        background-color: #0064FB;
    }

.btn-save {
    float: right;
}

.information {
    border-bottom: .0625rem solid #efefef;
    padding: 1.125rem 0;
}
/*jajajajajaja*/


.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
}

    .avatar-wrapper:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

        .avatar-wrapper:hover .profile-pic {
            opacity: .5;
        }

    .avatar-wrapper .profile-pic {
        height: 100%;
        width: 100%;
        transition: all .3s ease;
    }

        .avatar-wrapper.profile-pic:after {
            font-family: FontAwesome;
            content: "\f007";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            font-size: 190px;
            background: #ecf0f1;
            color: #34495e;
            text-align: center;
        }


.upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #34495e;
}

    .fa-arrow-circle-up:hover {
        opacity: .9;
    }

.btn-avarta {
    text-align: center;
}




